Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

comment
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

Added a proposal for stage types.
  docs/proposals/stage-types.md
Due: none

Redid the stage types proposal using the /design-with-questions command.
  docs/proposals/stage-types-design.md
  docs/proposals/stage-types-questions.md
  docs/proposals/stage-types.md
Due: none

claude-related updates
  .claude/commands
  .claude/skills
  CLAUDE.md
Due: none

claude-related updates (#113)
  .claude/commands
  .claude/skills
  CLAUDE.md
Due: none

Added a proposal for stage types. (#112)
  docs/proposals/stage-types-design.md
  docs/proposals/stage-types-questions.md
Due: none

Session scoring design
  docs/proposals/referenced-stage-id-design.md
  docs/proposals/session-scoring-design.md
  docs/proposals/session-scoring-questions.md
  docs/proposals/stage-types-design.md
  docs/proposals/stage-types-questions.md
Due: none

Update
  docs/proposals/stage-types-design.md
  docs/proposals/stage-types-questions.md
Due: none

Verify design doc cursor command
  .cursor/commands/verify-design.md
Due: none

Verify design doc cursor command (#114)
  .cursor/commands/verify-design.md
Due: none

clarify
  docs/proposals/stage-types-design.md
Due: none

Session scoring design documents (#115)
  docs/proposals/referenced-stage-id-design.md
  docs/proposals/session-scoring-design.md
  docs/proposals/session-scoring-questions.md
  docs/proposals/stage-types-design.md
  docs/proposals/stage-types-questions.md
Due: none

Inject Orchestrator prompt into all agents with type: orchestrator
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

tests
  pkg/agent/config_resolver_test.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/config/loader_test.go
Due: none

e2e tests
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  test/e2e/mock_llm.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
Due: go

comments
  .cursor/commands/update-docs.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  test/e2e/mock_llm.go
Due: none

fix
  pkg/queue/integration_test.go
Due: none

Inject Orchestrator prompt into all agents with type: orchestrator (#116)
  .cursor/commands/update-docs.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/integration_test.go
  test/e2e/mock_llm.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
Due: go

Align sub-agent progress style with tool all style in dashboard
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: none

Align sub-agent progress style with tool all style in dashboard (#117)
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: none

Fix parallel orchestrators rendring in dashboard
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

comment
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

Fix parallel orchestrators rendring in dashboard (#118)
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

Fix 500 recoverable problem with gemini 3-flash
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

comment
  pkg/agent/controller/iterating_test.go
Due: none

Fix 500 recoverable problem with gemini 3-flash (#120)
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Fix sub-agent cancelation
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: go

fix
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/test_helpers_test.go
Due: go

badge
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: none

Fix sub-agent cancelation (#122)
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/test_helpers_test.go
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: go

Gemini flash image models don't have URL Content tool
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go, python

Gemini flash image models don't ave Code Execution tool
  deploy/kustomize/base/tarsy-deployment.yaml
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

comments
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Do not fail execution if last tool call failed
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/queue/executor_integration_test.go
  test/e2e/failure_propagation_test.go
  test/e2e/failure_resilience_test.go
  test/e2e/orchestrator_test.go
Due: go

Fix cache merge for gemini native client
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

revert
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Improve error logging for native Gemini API client (#126)
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Data masking for --token <value>
  pkg/config/builtin.go
  pkg/masking/service_test.go
Due: go
