Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

Multiple dashbaord bugs
  web/dashboard/src/components/common/ProgressIndicator.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Fix
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

fix
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

fix
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

cleanup
  pkg/agent/context.go
  pkg/agent/controller/messages.go
  pkg/agent/controller/messages_test.go
  pkg/agent/controller/react_test.go
  pkg/agent/controller/streaming_test.go
  pkg/events/payloads.go
  pkg/events/publisher.go
  pkg/events/types.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/queue/worker_test.go
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/events.ts
  web/dashboard/src/utils/timelineParser.ts
Due: go

fix
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

comments
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

Multiple dashbaord bugs (#50)
  pkg/agent/context.go
  pkg/agent/controller/messages.go
  pkg/agent/controller/messages_test.go
  pkg/agent/controller/react_test.go
  pkg/agent/controller/streaming_test.go
  pkg/events/payloads.go
  pkg/events/publisher.go
  pkg/events/types.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/queue/worker_test.go
  web/dashboard/src/components/common/ProgressIndicator.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/events.ts
  web/dashboard/src/utils/markdownComponents.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

Fix progress bar in dashboard
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

update
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

Fixed waiting status
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

Fix progress bar in dashboard (#51)
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Fixed canceled status
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/constants/sessionStatus.ts
Due: none

comments
  web/dashboard/src/components/timeline/StageSeparator.tsx
Due: none

Fixed canceled status (#52)
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/constants/sessionStatus.ts
Due: none

Remove progress bar from sessoin header
  web/dashboard/src/components/common/ProgressIndicator.tsx
Due: none

Thought for 3s...
  web/dashboard/src/utils/timelineParser.ts
Due: none

Thought style
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
Due: none

Fix data masking for secrets
  pkg/masking/kubernetes_secret.go
  pkg/masking/kubernetes_secret_test.go
Due: go

Different improvments
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Synthesising
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

Fix status update
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Initlizing spinner
  web/dashboard/src/components/common/InitializingSpinner.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comment
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comments
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Polishing dashboard (#53)
  pkg/masking/kubernetes_secret.go
  pkg/masking/kubernetes_secret_test.go
  web/dashboard/src/components/common/InitializingSpinner.tsx
  web/dashboard/src/components/common/ProgressIndicator.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

Token rendering
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
Due: none

Token rendering (#54)
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
Due: none

Phase 7.5: Chats in dashboards
  pkg/api/handler_chat.go
  pkg/api/handler_chat_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/test_helpers_test.go
  web/dashboard/src/components/chat/ChatInput.tsx
  web/dashboard/src/components/chat/ChatPanel.tsx
  web/dashboard/src/constants/chat.ts
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go

fix
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: python

fix
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

improve
  docs/phase7-dashboard-plan.md
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comments
  web/dashboard/src/components/chat/ChatInput.tsx
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comments
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comments
  pkg/events/payloads.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/events.ts
Due: go

Phase 7.5: Chats in dashboards (#55)
  docs/phase7-dashboard-plan.md
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  pkg/api/handler_chat.go
  pkg/api/handler_chat_test.go
  pkg/events/payloads.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/test_helpers_test.go
  web/dashboard/src/components/chat/ChatInput.tsx
  web/dashboard/src/components/chat/ChatPanel.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/constants/chat.ts
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/events.ts
  web/dashboard/src/utils/timelineParser.ts
Due: go, python

Fix flaky test
  pkg/events/integration_test.go
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/services/websocket.ts
Due: none

Fix flaky test (#56)
  pkg/events/integration_test.go
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/services/websocket.ts
Due: none

Phase 8.2 New langchain client - desing docs
  docs/phase8.2-multi-llm-support-design.md
  docs/phase8.2-multi-llm-support-questions.md
Due: none

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
