Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

Phase 7.3 implementation (#45)
  docs/phase7-dashboard-plan.md
  pkg/agent/config_resolver.go
  pkg/api/handler_system.go
  pkg/api/handler_system_test.go
  web/dashboard/src/components/alert/MCPSelection.tsx
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/common/FloatingSubmitAlertFab.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/constants/nativeTools.ts
  web/dashboard/src/pages/SubmitAlertPage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/system.ts
Due: go

fix migration
  go.sum
  make/db.mk
  pkg/database/migrations/20260214053406_add_llm_provider_to_agent_executions.up.sql
  pkg/database/migrations/README.md
  pkg/database/migrations/atlas.sum
Due: go

fix - llm
  .github/workflows/ci.yml
  README.md
  deploy/podman-compose.yml
  go.sum
  llm-service/llm/providers/google_native.py
  llm-service/llm/server.py
  make/db.mk
  make/dev.mk
  test/util/database.go
Due: python

fix
  llm-service/llm/providers/google_native.py
  pkg/agent/controller/timeline.go
  web/dashboard/src/components/dashboard/ActiveSessionCard.tsx
Due: go, python

improvments
  make/db.mk
  web/dashboard/src/components/dashboard/ActiveSessionCard.tsx
Due: none

comments
  make/dev.mk
  web/dashboard/src/components/dashboard/ActiveSessionCard.tsx
Due: none

Fix schema migration (#46)
  .github/workflows/ci.yml
  README.md
  deploy/podman-compose.yml
  llm-service/llm/providers/google_native.py
  llm-service/llm/server.py
  make/db.mk
  make/dev.mk
  pkg/agent/controller/timeline.go
  pkg/database/migrations/20260214053406_add_llm_provider_to_agent_executions.up.sql
  pkg/database/migrations/README.md
  pkg/database/migrations/atlas.sum
  test/util/database.go
  web/dashboard/src/components/dashboard/ActiveSessionCard.tsx
Due: go, python

Phase 7.4 Implementation
  .cursor/plans/phase_7.4_session_detail_50ac41e9.plan.md
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/OriginalAlertCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/CollapseButton.tsx
  web/dashboard/src/components/shared/CollapsibleItemHeader.tsx
  web/dashboard/src/components/shared/ContentPreviewTooltip.tsx
  web/dashboard/src/components/shared/CopyButton.tsx
  web/dashboard/src/components/shared/EmojiIcon.tsx
  web/dashboard/src/components/shared/ErrorBoundary.tsx
  web/dashboard/src/components/shared/JsonDisplay/JsonDisplay.css
  web/dashboard/src/components/shared/JsonDisplay/index.tsx
  web/dashboard/src/components/shared/JsonDisplay/types.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/index.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/yamlHighlighter.ts
  web/dashboard/src/components/shared/MarkdownRenderer.tsx
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/components/streaming/ProcessingIndicator.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/streaming/TypingIndicator.tsx
  web/dashboard/src/components/timeline/ErrorItem.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ParallelStageTabs.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
  web/dashboard/src/constants/chatFlowAnimations.ts
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

fix
  docs/phase7-dashboard-plan.md
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/OriginalAlertCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/ErrorBoundary.tsx
  web/dashboard/src/components/shared/JsonDisplay/index.tsx
  web/dashboard/src/components/shared/MarkdownRenderer.tsx
  web/dashboard/src/components/streaming/ProcessingIndicator.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ParallelStageTabs.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

update
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

comments
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/JsonDisplay/JsonDisplay.css
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ParallelStageTabs.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

comments
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

comments
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

commits
  web/dashboard/src/components/session/SessionHeader.tsx
Due: none

Phase 7.4 Implementation (#47)
  .cursor/plans/phase_7.4_session_detail_50ac41e9.plan.md
  docs/phase7-dashboard-plan.md
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/OriginalAlertCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/CollapseButton.tsx
  web/dashboard/src/components/shared/CollapsibleItemHeader.tsx
  web/dashboard/src/components/shared/ContentPreviewTooltip.tsx
  web/dashboard/src/components/shared/CopyButton.tsx
  web/dashboard/src/components/shared/EmojiIcon.tsx
  web/dashboard/src/components/shared/ErrorBoundary.tsx
  web/dashboard/src/components/shared/JsonDisplay/JsonDisplay.css
  web/dashboard/src/components/shared/JsonDisplay/index.tsx
  web/dashboard/src/components/shared/JsonDisplay/types.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/index.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/yamlHighlighter.ts
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/components/streaming/ProcessingIndicator.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/streaming/TypingIndicator.tsx
  web/dashboard/src/components/timeline/ErrorItem.tsx
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/ParallelStageTabs.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
  web/dashboard/src/constants/chatFlowAnimations.ts
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

Fix header
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

fix
  web/dashboard/src/pages/TracePage.tsx
Due: none

parallel agent rendering
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

parser-go
  pkg/agent/controller/react.go
  pkg/agent/controller/streaming.go
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

tests for parser and react streaming
  pkg/agent/controller/react_test.go
  pkg/agent/controller/streaming_test.go
  test/e2e/react_streaming_test.go
  test/e2e/testdata/configs/react-streaming/llm-providers.yaml
  test/e2e/testdata/configs/react-streaming/tarsy.yaml
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/pipeline/timeline.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/20_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/24_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/27_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ChatAgent_llm_iteration_4.golden
Due: none

tests
  test/e2e/pipeline_test.go
  test/e2e/react_streaming_test.go
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/pipeline/timeline.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/20_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/24_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/27_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ChatAgent_llm_iteration_4.golden
Due: none

refactor parser
  pkg/agent/controller/react_parser.go
  pkg/agent/controller/react_parser_test.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
Due: go

fix
  .cursor/plans/phase_7.4_session_detail_50ac41e9.plan.md
  pkg/agent/controller/helpers.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/timeline.go
  pkg/api/handler_chat.go
  pkg/events/integration_test.go
  pkg/events/payloads.go
  pkg/events/payloads_contract_test.go
  pkg/events/publisher_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/worker.go
  test/e2e/helpers.go
  test/e2e/pipeline_test.go
  test/e2e/react_streaming_test.go
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/events.ts
Due: go

fix
  pkg/agent/controller/native_thinking.go
  pkg/agent/controller/native_thinking_test.go
  pkg/mcp/integration_test.go
Due: go

fix
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

fix
  web/dashboard/src/utils/timelineParser.ts
Due: none

fix
  web/dashboard/src/components/timeline/ToolCallItem.tsx
Due: none

test
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/types/session.ts
Due: go

format
  pkg/agent/controller/react_parser_test.go
  pkg/agent/controller/streaming.go
  test/e2e/react_streaming_test.go
Due: go

fix
  pkg/events/listener.go
  pkg/events/manager.go
Due: go

test
  pkg/events/integration_test.go
Due: none

comments
  pkg/agent/controller/streaming.go
  pkg/events/integration_test.go
  pkg/models/session.go
  pkg/services/session_service.go
  test/e2e/testdata/golden/pipeline/session.golden
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go

fix
  pkg/agent/controller/streaming.go
  pkg/events/integration_test.go
  pkg/events/listener.go
  web/dashboard/eslint.config.js
  web/dashboard/src/components/session/OriginalAlertCard.tsx
  web/dashboard/src/components/shared/ErrorBoundary.tsx
  web/dashboard/src/components/shared/JsonDisplay/index.tsx
  web/dashboard/src/components/shared/JsonDisplay/types.ts
  web/dashboard/src/components/shared/JsonDisplay/utils/contentParser.ts
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
Due: go

format
  pkg/events/listener.go
Due: go

comments
  web/dashboard/src/components/shared/ErrorBoundary.tsx
  web/dashboard/src/hooks/useAdvancedAutoScroll.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

comments
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Fix streaming
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Fix streaming (#49)
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none
