Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

format
  pkg/config/types.go
Due: go

More tests
  pkg/agent/orchestrator/runner_test.go
  pkg/config/loader_test.go
Due: none

comments
  pkg/config/types.go
  pkg/config/types_test.go
Due: go

fmt
  pkg/config/types.go
Due: go

comments
  pkg/config/types.go
Due: go

Support sub-agent configuration in chains (#103)
  docs/proposals/orchestrator-impl-design.md
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/config/chain.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
  test/e2e/testdata/configs/builtin-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/orchestrator-cancel/tarsy.yaml
  test/e2e/testdata/configs/orchestrator/tarsy.yaml
Due: go

Drop Gemini 3.0-pro model and update docs
  deploy/config/llm-providers.yaml.example
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/dashboard-orchestrator-design.md
  docs/proposals/dashboard-orchestrator-questions.md
  docs/proposals/orchestrator-impl-design.md
  llm-service/tests/test_google_native.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Drop Gemini 3.0-pro model and update docs (#104)
  deploy/config/llm-providers.yaml.example
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/dashboard-orchestrator-design.md
  docs/proposals/dashboard-orchestrator-questions.md
  docs/proposals/orchestrator-impl-design.md
  llm-service/tests/test_google_native.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Fix MCP tool calls and default alert
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  pkg/api/handler_alert_types.go
  pkg/api/handler_alert_types_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/types/system.ts
Due: go, python

proper fix
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Fix MCP tool calls and default alert (#105)
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  pkg/api/handler_alert_types.go
  pkg/api/handler_alert_types_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/types/system.ts
Due: go, python

Add evidence transparency prompts to prevent confident conclusions without tool data
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/instructions.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/forced_conclusion.golden
  pkg/agent/prompt/testdata/function_calling_investigation.golden
  pkg/agent/prompt/testdata/function_calling_investigation_failed_servers.golden
  pkg/agent/prompt/testdata/function_calling_investigation_with_context.golden
  pkg/agent/prompt/testdata/synthesis.golden
  pkg/agent/prompt/testdata/synthesis_google_native.golden
  pkg/config/builtin.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/06_LogAnalyzer_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/08_LogAnalyzer_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/03_DataCollector_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/07_DataCollector_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/09_DataCollector_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/12_Remediator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/14_Remediator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/17_Remediator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/19_ConfigValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/21_ConfigValidator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/23_MetricsValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/25_MetricsValidator_llm_forced_conclusion_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ScalingReviewer-1_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ScalingReviewer-2_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/31_SynthesisAgent_llm_synthesis_2.golden
Due: go

comment
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/forced_conclusion.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/25_MetricsValidator_llm_forced_conclusion_1.golden
Due: go

Add evidence transparency prompts to prevent confident conclusions without tool data (#106)
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/instructions.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/forced_conclusion.golden
  pkg/agent/prompt/testdata/function_calling_investigation.golden
  pkg/agent/prompt/testdata/function_calling_investigation_failed_servers.golden
  pkg/agent/prompt/testdata/function_calling_investigation_with_context.golden
  pkg/agent/prompt/testdata/synthesis.golden
  pkg/agent/prompt/testdata/synthesis_google_native.golden
  pkg/config/builtin.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/06_LogAnalyzer_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/08_LogAnalyzer_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/03_DataCollector_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/07_DataCollector_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/09_DataCollector_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/12_Remediator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/14_Remediator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/17_Remediator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/19_ConfigValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/21_ConfigValidator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/23_MetricsValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/25_MetricsValidator_llm_forced_conclusion_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ScalingReviewer-1_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ScalingReviewer-2_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/31_SynthesisAgent_llm_synthesis_2.golden
Due: go

Ask LLM to reference tool results
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/function_calling_investigation.golden
  pkg/agent/prompt/testdata/function_calling_investigation_failed_servers.golden
  pkg/agent/prompt/testdata/function_calling_investigation_with_context.golden
  pkg/agent/prompt/testdata/synthesis.golden
  pkg/agent/prompt/testdata/synthesis_google_native.golden
  pkg/config/builtin.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/03_DataCollector_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/06_DataCollector_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/07_DataCollector_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/09_DataCollector_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/12_Remediator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/14_Remediator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/16_Remediator_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/17_Remediator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/19_ConfigValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/21_ConfigValidator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/23_MetricsValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/25_MetricsValidator_llm_forced_conclusion_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ScalingReviewer-1_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ScalingReviewer-2_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/31_SynthesisAgent_llm_synthesis_2.golden
Due: go

Ask LLM to reference tool results (#107)
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/function_calling_investigation.golden
  pkg/agent/prompt/testdata/function_calling_investigation_failed_servers.golden
  pkg/agent/prompt/testdata/function_calling_investigation_with_context.golden
  pkg/agent/prompt/testdata/synthesis.golden
  pkg/agent/prompt/testdata/synthesis_google_native.golden
  pkg/config/builtin.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/03_DataCollector_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/06_DataCollector_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/07_DataCollector_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/09_DataCollector_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/12_Remediator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/14_Remediator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/16_Remediator_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/17_Remediator_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/19_ConfigValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/21_ConfigValidator_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/23_MetricsValidator_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/25_MetricsValidator_llm_forced_conclusion_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/26_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/28_ScalingReviewer-1_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/30_ScalingReviewer-2_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/31_SynthesisAgent_llm_synthesis_2.golden
Due: go

Render exec summary tooltip as MD in list of sessions
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

fix
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

comment
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

Render exec summary tooltip as MD in list of sessions (#108)
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

Add Parent Execution ID to timeline events
  docs/proposals/dashboard-orchestrator-design.md
  docs/proposals/dashboard-orchestrator-questions.md
  ent/agentexecution.go
  ent/agentexecution/agentexecution.go
  ent/agentexecution/where.go
  ent/agentexecution_create.go
  ent/agentexecution_query.go
  ent/agentexecution_update.go
  ent/client.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/runtime.go
  ent/schema/agentexecution.go
  ent/schema/timelineevent.go
  ent/timelineevent.go
  ent/timelineevent/timelineevent.go
  ent/timelineevent/where.go
  ent/timelineevent_create.go
  ent/timelineevent_query.go
  pkg/agent/controller/helpers.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/timeline.go
  pkg/agent/controller/timeline_test.go
  pkg/agent/orchestrator/runner.go
  pkg/api/handler_timeline_test.go
  pkg/database/migrations/20260226223249_add_parent_execution_id_to_timeline_events.up.sql
  pkg/events/payloads.go
  pkg/models/timeline.go
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
Due: go

Docs
  docs/proposals/dashboard-orchestrator-design.md
  pkg/events/payloads.go
  pkg/models/timeline.go
  test/e2e/orchestrator_test.go
Due: go

comments
  docs/proposals/dashboard-orchestrator-design.md
  ent/migrate/schema.go
  ent/schema/timelineevent.go
  pkg/services/timeline_service_test.go
Due: none

comments
  ent/migrate/schema.go
  ent/schema/timelineevent.go
  pkg/database/migrations/20260226223249_add_parent_execution_id_to_timeline_events.up.sql
Due: go

Add Parent Execution ID to timeline events (#109)
  docs/proposals/dashboard-orchestrator-design.md
  docs/proposals/dashboard-orchestrator-questions.md
  ent/agentexecution.go
  ent/agentexecution/agentexecution.go
  ent/agentexecution/where.go
  ent/agentexecution_create.go
  ent/agentexecution_query.go
  ent/agentexecution_update.go
  ent/client.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/runtime.go
  ent/schema/agentexecution.go
  ent/schema/timelineevent.go
  ent/timelineevent.go
  ent/timelineevent/timelineevent.go
  ent/timelineevent/where.go
  ent/timelineevent_create.go
  ent/timelineevent_query.go
  pkg/agent/controller/helpers.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/timeline.go
  pkg/agent/controller/timeline_test.go
  pkg/agent/orchestrator/runner.go
  pkg/api/handler_timeline_test.go
  pkg/database/migrations/20260226223249_add_parent_execution_id_to_timeline_events.up.sql
  pkg/events/payloads.go
  pkg/models/timeline.go
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
  test/e2e/orchestrator_test.go
Due: go

Dashboard support of Orchestrator agents
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/SubAgentTabs.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/utils/subAgentSupport.test.ts
  web/dashboard/src/test/utils/traceHelpers.test.ts
  web/dashboard/src/types/events.ts
  web/dashboard/src/types/session.ts
Due: none

Fix
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: go

Enable summarization by default
  README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/config/types.go
Due: go

Status fix
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/orchestrator/types.go
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: go

comment
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

Enable summarization by default (#110)
  README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

fix
  pkg/agent/orchestrator/runner.go
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/utils/timelineParser.ts
Due: go

tests
  pkg/agent/orchestrator/runner_test.go
Due: none

Design
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

Fix streaming
  Untitled
  deploy/config/Untitled
  pkg/agent/controller/iterating.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/summarize.go
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: go

fix
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_3.golden
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: none

comments
  Untitled
  deploy/config/Untitled
  docs/adr/0002-orchestrator-impl.md
  docs/proposals/README.md
  docs/proposals/dashboard-orchestrator-design.md
  docs/proposals/dashboard-orchestrator-questions.md
  docs/proposals/orchestrator-agent-design.md
  docs/proposals/orchestrator-agent-questions.md
  docs/proposals/orchestrator-impl-design.md
  docs/proposals/orchestrator-impl-questions.md
  pkg/agent/orchestrator/runner.go
  test/e2e/ws_client.go
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
Due: go

comments
  README.md
  docs/adr/0002-orchestrator-impl.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/ws_client.go
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/types/session.ts
Due: go

fmt
  pkg/services/session_service.go
Due: go

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
