Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

Increase default session timeout to 40 minutes
  deploy/kustomize/base/tarsy-deployment.yaml
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/metrics/metrics.go
Due: go

Increase default session timeout to 40 minutes (#241)
  deploy/kustomize/base/tarsy-deployment.yaml
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/metrics/metrics.go
Due: go

Update Gemini 3.1 Flash Lite to GA model name
  pkg/config/builtin.go
Due: go

Update Gemini 3.1 Flash Lite to GA model name (#243)
  pkg/config/builtin.go
Due: go

Add design proposal for triage acknowledge action
  docs/proposals/triage-acknowledge-design.md
  docs/proposals/triage-acknowledge-questions.md
Due: none

Add acknowledge review action backend
  ent/migrate/schema.go
  ent/schema/sessionreviewactivity.go
  ent/sessionreviewactivity/sessionreviewactivity.go
  pkg/api/handler_review.go
  pkg/api/handler_review_test.go
  pkg/database/migrations/atlas.sum
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  test/e2e/review_workflow_test.go
Due: go

commnents
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
Due: go

Dashboard
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/ReviewCell.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/types/api.ts
Due: none

comment
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
Due: none

phase 3
  web/dashboard/src/components/session/ReviewActivityCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/ReviewActivityCard.test.tsx
Due: none

comment
  web/dashboard/src/test/components/ReviewActivityCard.test.tsx
Due: none

Feat/acknowledge review action (#244)
  docs/proposals/triage-acknowledge-design.md
  docs/proposals/triage-acknowledge-questions.md
  ent/migrate/schema.go
  ent/schema/sessionreviewactivity.go
  ent/sessionreviewactivity/sessionreviewactivity.go
  pkg/api/handler_review.go
  pkg/api/handler_review_test.go
  pkg/database/migrations/atlas.sum
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  test/e2e/review_workflow_test.go
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/ReviewCell.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/components/session/ReviewActivityCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/ReviewActivityCard.test.tsx
  web/dashboard/src/types/api.ts
Due: go

Promote triage-acknowledge proposal to ADR-0016
  deploy/config/tarsy.yaml.example
  docs/adr/0016-triage-acknowledge.md
  docs/functional-areas-design.md
  docs/proposals/triage-acknowledge-design.md
  docs/proposals/triage-acknowledge-questions.md
Due: none

Add acknowledge to review action enumerations in docs
  docs/functional-areas-design.md
Due: none

Promote triage-acknowledge proposal to ADR-0016 (#245)
  deploy/config/tarsy.yaml.example
  docs/adr/0016-triage-acknowledge.md
  docs/functional-areas-design.md
  docs/proposals/triage-acknowledge-design.md
  docs/proposals/triage-acknowledge-questions.md
Due: none

Improve scoring resilience during rolling updates
  cmd/tarsy/main.go
  deploy/config/tarsy.yaml.example
  deploy/kustomize/base/tarsy-deployment.yaml
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/config/validator.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
  pkg/queue/scoring_executor_test.go
  test/e2e/harness.go
  test/e2e/scoring_test.go
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/ScoringPage.tsx
Due: go

comment
  web/dashboard/src/pages/ScoringPage.tsx
Due: none

Improve scoring resilience during rolling updates (#248)
  cmd/tarsy/main.go
  deploy/config/tarsy.yaml.example
  deploy/kustomize/base/tarsy-deployment.yaml
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/config/validator.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
  pkg/queue/scoring_executor_test.go
  test/e2e/harness.go
  test/e2e/scoring_test.go
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/ScoringPage.tsx
Due: go

Add Gemini 3.5 Flash to built-in LLM providers
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Add Gemini 3.5 Flash to built-in LLM providers (#250)
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Switch google-default provider to Gemini 3.5 Flash
  pkg/config/builtin.go
Due: go

Switch google-default provider to Gemini 3.5 Flash (#251)
  pkg/config/builtin.go
Due: go

Add native tool fallback safety guard
  .cursor/commands/verify-design.md
  docs/adr/0017-native-tool-fallback-safety.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/native-tool-fallback/llm-providers.yaml
  test/e2e/testdata/configs/native-tool-fallback/tarsy.yaml
Due: go

Tests
  pkg/agent/config_resolver_test.go
Due: none

Add native tool fallback safety guard (#252)
  .cursor/commands/verify-design.md
  docs/adr/0017-native-tool-fallback-safety.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/native-tool-fallback/llm-providers.yaml
  test/e2e/testdata/configs/native-tool-fallback/tarsy.yaml
Due: go

Fix orchestrator token counts to include sub-agent tokens
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/testdata/golden/orchestrator/session.golden
Due: go

Fix orchestrator token counts to include sub-agent tokens (#254)
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/testdata/golden/orchestrator/session.golden
Due: go

Fix test type errors for Vitest 4.x compatibility
  web/dashboard/src/test/hooks/useVersionMonitor.test.ts
  web/dashboard/src/test/services/auth.test.ts
  web/dashboard/src/test/utils/filterPersistence.test.ts
Due: none

Fix memory confidence compounding on review re-rating
  docs/proposals/ack-in-review-dialog-design.md
  docs/proposals/ack-in-review-dialog-questions.md
  pkg/api/handler_review.go
  pkg/memory/service.go
  pkg/memory/service_crud_integration_test.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
Due: go

Fix memory confidence compounding on review re-rating (#256)
  docs/proposals/ack-in-review-dialog-design.md
  docs/proposals/ack-in-review-dialog-questions.md
  pkg/api/handler_review.go
  pkg/memory/service.go
  pkg/memory/service_crud_integration_test.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
Due: go

Consolidate acknowledge into review dialog
  docs/proposals/ack-in-review-dialog-design.md
  test/e2e/review_workflow_test.go
  web/dashboard/src/components/dashboard/CompleteReviewModal.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/components/dashboard/ReviewCell.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/CompleteReviewModal.test.tsx
  web/dashboard/src/test/components/EditFeedbackModal.test.tsx
  web/dashboard/src/test/components/ReviewCell.test.tsx
  web/dashboard/src/types/api.ts
Due: none

tests
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
Due: go

comments
  test/e2e/review_workflow_test.go
  web/dashboard/src/components/dashboard/CompleteReviewModal.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/test/components/EditFeedbackModal.test.tsx
Due: none

fix
  docs/adr/0018-ack-in-review-dialog.md
  docs/proposals/ack-in-review-dialog-design.md
  docs/proposals/ack-in-review-dialog-questions.md
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
Due: none

fix
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
Due: none

Consolidate acknowledge into review dialog (#257)
  docs/adr/0018-ack-in-review-dialog.md
  docs/proposals/ack-in-review-dialog-design.md
  docs/proposals/ack-in-review-dialog-questions.md
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  test/e2e/review_workflow_test.go
  web/dashboard/src/components/dashboard/CompleteReviewModal.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/components/dashboard/ReviewCell.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/CompleteReviewModal.test.tsx
  web/dashboard/src/test/components/EditFeedbackModal.test.tsx
  web/dashboard/src/test/components/ReviewCell.test.tsx
  web/dashboard/src/types/api.ts
Due: go

Unify review modals and improve feedback UX
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/components/dashboard/ReviewModal.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/CompleteReviewModal.test.tsx
  web/dashboard/src/test/components/EditFeedbackModal.test.tsx
  web/dashboard/src/test/components/ReviewModal.test.tsx
Due: none

comments
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/ReviewModal.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Unify review modals and improve feedback UX (#262)
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/components/dashboard/ReviewModal.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/CompleteReviewModal.test.tsx
  web/dashboard/src/test/components/EditFeedbackModal.test.tsx
  web/dashboard/src/test/components/ReviewModal.test.tsx
Due: none

Default Anthropic/VertexAI providers to Claude Sonnet 5
  deploy/config/llm-providers.yaml.example
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go, python
