Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

Default Anthropic/VertexAI providers to Claude Sonnet 5 (#271)
  deploy/config/llm-providers.yaml.example
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go, python

Readme fix
  README.md
Due: none

Readme fix (#272)
  README.md
Due: none

Surface provider-fallback badges on parent timeline nodes
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

Surface provider-fallback badges on parent timeline nodes (#276)
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/utils/timelineParser.ts
Due: none

Default Google provider to Gemini 3.6 Flash
  .gitignore
  docs/adr/0017-native-tool-fallback-safety.md
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Default Google provider to Gemini 3.6 Flash (#277)
  .gitignore
  docs/adr/0017-native-tool-fallback-safety.md
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Add read-only effective configuration viewer
  docs/proposals/config-viewer-design.md
  docs/proposals/config-viewer-questions.md
  pkg/api/handler_review_test.go
  pkg/api/handler_system.go
  pkg/api/server.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  test/e2e/dashboard_test.go
  test/e2e/helpers.go
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/pages/SystemStatusPage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/types/system.ts
Due: go

comments
  docs/proposals/config-viewer-design.md
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  test/e2e/dashboard_test.go
  test/e2e/helpers.go
  test/e2e/testdata/configs/concurrency/llm-providers.yaml
  test/e2e/testdata/configs/concurrency/skills/example-skill/SKILL.md
  test/e2e/testdata/configs/concurrency/tarsy.yaml
Due: go

tests
  test/e2e/testdata/configs/concurrency/tarsy.yaml
Due: none

Add read-only effective configuration viewer (#278)
  docs/proposals/config-viewer-design.md
  docs/proposals/config-viewer-questions.md
  pkg/api/handler_review_test.go
  pkg/api/handler_system.go
  pkg/api/server.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  test/e2e/dashboard_test.go
  test/e2e/helpers.go
  test/e2e/testdata/configs/concurrency/llm-providers.yaml
  test/e2e/testdata/configs/concurrency/skills/example-skill/SKILL.md
  test/e2e/testdata/configs/concurrency/tarsy.yaml
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/pages/SystemStatusPage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/types/system.ts
Due: go

Upgrade dashboard ESLint 10 stack and satisfy react-hooks v7 rules.
  web/dashboard/eslint.config.js
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/alert/MCPSelection.tsx
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/common/ProgressIndicator.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/ReviewModal.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/ExtractedLearningsCard.tsx
  web/dashboard/src/components/session/InjectedMemoriesCard.tsx
  web/dashboard/src/components/session/ReviewActivityCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/components/timeline/InsightsCard.tsx
  web/dashboard/src/components/timeline/MemoryCardList.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/SkillLoadedItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/components/timeline/memoryCardConstants.ts
  web/dashboard/src/hooks/useVersionMonitor.ts
  web/dashboard/src/pages/ScoringPage.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/pages/TracePage.tsx
  web/dashboard/src/test/hooks/useVersionMonitor.test.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

comments
  web/dashboard/src/components/alert/MCPSelection.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
Due: none

Chore/eslint10 react hooks cleanup (#283)
  web/dashboard/eslint.config.js
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/alert/MCPSelection.tsx
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/common/ProgressIndicator.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/ReviewModal.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/ExtractedLearningsCard.tsx
  web/dashboard/src/components/session/InjectedMemoriesCard.tsx
  web/dashboard/src/components/session/ReviewActivityCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/components/timeline/InsightsCard.tsx
  web/dashboard/src/components/timeline/MemoryCardList.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/SkillLoadedItem.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/components/timeline/memoryCardConstants.ts
  web/dashboard/src/hooks/useVersionMonitor.ts
  web/dashboard/src/pages/ScoringPage.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/pages/TracePage.tsx
  web/dashboard/src/test/hooks/useVersionMonitor.test.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

Promote config viewer proposal to ADR-0019
  docs/adr/0019-config-viewer.md
  docs/proposals/config-viewer-design.md
  docs/proposals/config-viewer-questions.md
Due: none

Promote config viewer proposal to ADR-0019 (#284)
  docs/adr/0019-config-viewer.md
  docs/proposals/config-viewer-design.md
  docs/proposals/config-viewer-questions.md
Due: none

lint
  pkg/config/loader.go
  pkg/cost/book.go
  pkg/cost/book_test.go
  pkg/cost/catalog_test.go
  pkg/cost/estimate_test.go
  pkg/cost/types.go
Due: go

comments
  pkg/agent/controller/helpers.go
  pkg/agent/controller/helpers_test.go
  pkg/agent/controller/summarize.go
  pkg/cost/book.go
  pkg/cost/book_test.go
  pkg/cost/catalog.go
  pkg/cost/catalog_test.go
  pkg/cost/estimate.go
  pkg/cost/estimate_test.go
  pkg/cost/match.go
  pkg/cost/match_test.go
  pkg/cost/types.go
  pkg/services/interaction_service.go
  pkg/services/interaction_service_test.go
Due: go

comment
  pkg/cost/book_test.go
Due: none

Expose estimated cost on session and execution APIs
  cmd/tarsy/main.go
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/harness.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/skills/session.golden
Due: go

Expose estimated cost on session and execution APIs (#286)
  cmd/tarsy/main.go
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/harness.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/skills/session.golden
Due: go

Add GET /api/v1/usage/summary fleet aggregates
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  pkg/api/handler_usage.go
  pkg/api/handler_usage_test.go
  pkg/api/server.go
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
Due: go

comments
  docs/session-usage-cost.md
  pkg/api/handler_usage.go
  pkg/api/handler_usage_test.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
Due: go

Add GET /api/v1/usage/summary fleet aggregates (#287)
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  pkg/api/handler_usage.go
  pkg/api/handler_usage_test.go
  pkg/api/server.go
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/session_service.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
Due: go

Add dashboard Est. $ surfaces and Usage page
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  web/dashboard/src/App.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/EstimatedCostDisplay.tsx
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/trace/ParallelExecutionTabs.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/SubAgentTabs.tsx
  web/dashboard/src/constants/routes.ts
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/components/EstimatedCostDisplay.test.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/utils/format.ts
Due: none

Split Est. Cost into its own Alert History column
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
Due: none

fix
  web/dashboard/src/components/timeline/StageContent.tsx
Due: none

ux
  web/dashboard/src/pages/UsagePage.tsx
Due: none

improve
  docs/session-usage-cost.md
  pkg/models/session.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/testdata/configs/usage-cost/llm-providers.yaml
  test/e2e/testdata/configs/usage-cost/tarsy.yaml
  test/e2e/usage_cost_test.go
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/EstimatedCostDisplay.tsx
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/components/EstimatedCostDisplay.test.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/types/api.ts
  web/dashboard/src/utils/format.ts
Due: go

update
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
Due: none

update
  test/e2e/usage_cost_test.go
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Feat/dashboard usage cost UI (#288)
  docs/proposals/session-usage-cost-design.md
  docs/session-usage-cost.md
  pkg/models/session.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/testdata/configs/usage-cost/llm-providers.yaml
  test/e2e/testdata/configs/usage-cost/tarsy.yaml
  test/e2e/usage_cost_test.go
  web/dashboard/src/App.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/shared/EstimatedCostDisplay.tsx
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/trace/ParallelExecutionTabs.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/SubAgentTabs.tsx
  web/dashboard/src/constants/routes.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/components/EstimatedCostDisplay.test.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/utils/format.ts
Due: go

Promote session usage cost proposal to ADR-0020
  README.md
  deploy/config/README.md
  docs/adr/0020-session-usage-cost.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/session-usage-cost-design-questions.md
  docs/proposals/session-usage-cost-design.md
  docs/proposals/session-usage-cost-questions.md
  docs/proposals/session-usage-cost-sketch.md
  docs/session-usage-cost.md
Due: none

Promote session usage cost proposal to ADR-0020 (#289)
  README.md
  deploy/config/README.md
  docs/adr/0020-session-usage-cost.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/session-usage-cost-design-questions.md
  docs/proposals/session-usage-cost-design.md
  docs/proposals/session-usage-cost-questions.md
  docs/proposals/session-usage-cost-sketch.md
  docs/session-usage-cost.md
Due: none

Show currently-applied time range in usage filters
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/pages/UsagePage.tsx
Due: none

comment
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
Due: none

Show currently-applied time range in usage filters (#290)
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/TimeRangeModal.tsx
  web/dashboard/src/pages/UsagePage.tsx
Due: none

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
