Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

feat(config): add named session label maps catalog (#350)
  docs/proposals/session-labels-design.md
  docs/proposals/session-labels-questions.md
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/labels.go
  pkg/agent/prompt/testdata/session_labels_builtin.golden
  pkg/agent/prompt/testdata/session_labels_custom_exclusive.golden
  pkg/agent/prompt/testdata/session_labels_multi.golden
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/chain.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/job_pairing_test.go
  pkg/config/labels.go
  pkg/config/labels_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go

comments
  docs/proposals/session-labels-design.md
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
  pkg/queue/testdata/context_executive_summary.golden
  pkg/queue/testdata/context_filters_stage_types.golden
  pkg/queue/testdata/context_full_pipeline.golden
  pkg/queue/testdata/context_orchestrated_stage.golden
  pkg/queue/testdata/context_parallel_with_synthesis.golden
  pkg/queue/testdata/context_timeline_events.golden
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
  test/e2e/golden.go
  test/e2e/testdata/golden/memory-feedback/trace_interactions/08_ScoringAgent_llm_scoring_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/09_ScoringAgent_llm_scoring_2.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/10_ScoringAgent_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
Due: go

feat(dashboard): show and filter sessions by stored labels
  deploy/config/README.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/api/handler_filter.go
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/test/components/SessionLabelChips.test.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/types/system.ts
  web/dashboard/src/utils/filterPersistence.ts
  web/dashboard/src/utils/search.ts
Due: go

Docs
  README.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0031-session-labels.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/session-labels-design.md
  docs/proposals/session-labels-questions.md
  docs/slack-integration.md
Due: none

UI
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0031-session-labels.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/test/components/SessionLabelChips.test.tsx
Due: none

feat(dashboard): show and filter sessions by stored labels (#352)
  README.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0031-session-labels.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/session-labels-design.md
  docs/proposals/session-labels-questions.md
  docs/slack-integration.md
  pkg/api/handler_filter.go
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/HistoricalAlertsList.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/test/components/SessionLabelChips.test.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/types/system.ts
  web/dashboard/src/utils/filterPersistence.ts
  web/dashboard/src/utils/search.ts
Due: go

feat(dashboard): mute closable session label chips
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/test/components/SessionLabelChips.test.tsx
Due: none

feat(dashboard): mute closable session label chips (#353)
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/test/components/SessionLabelChips.test.tsx
Due: none

feat(api): include review fields on session status
  README.md
  docs/functional-areas-design.md
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  test/e2e/helpers.go
  test/e2e/review_workflow_test.go
Due: go

docs
  README.md
  docs/functional-areas-design.md
Due: none

feat(api): include review fields on session status (#354)
  README.md
  docs/functional-areas-design.md
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  test/e2e/helpers.go
  test/e2e/review_workflow_test.go
Due: go

chore(deps): bump Go to 1.26.7
  .github/workflows/ci.yml
  go.mod
Due: none

chore(deps): bump min Go to 1.26.7 (#355)
  .github/workflows/ci.yml
  go.mod
Due: none

feat(dashboard): filter sessions by any selected label
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/LabelFilter.tsx
  web/dashboard/src/components/dashboard/StatusFilter.tsx
  web/dashboard/src/test/components/LabelFilter.test.tsx
  web/dashboard/src/test/components/StatusFilter.test.tsx
  web/dashboard/src/test/theme.scrollLock.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/theme/index.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/utils/filterPersistence.ts
  web/dashboard/src/utils/search.ts
Due: go

feat(dashboard): filter sessions by any selected label (#356)
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/common/SessionLabelChips.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/FilterPanel.tsx
  web/dashboard/src/components/dashboard/LabelFilter.tsx
  web/dashboard/src/components/dashboard/StatusFilter.tsx
  web/dashboard/src/test/components/LabelFilter.test.tsx
  web/dashboard/src/test/components/StatusFilter.test.tsx
  web/dashboard/src/test/theme.scrollLock.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/theme/index.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/utils/filterPersistence.ts
  web/dashboard/src/utils/search.ts
Due: go

fix(llm): use implicit cache for GPT-5.6+ looping calls
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/session-usage-cost.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/controller/iterating_test.go
  pkg/agent/llm_client.go
Due: go, python

comment
  docs/adr/0026-prompt-caching.md
Due: none

fix(llm): use implicit cache for GPT-5.6+ looping calls (#357)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/session-usage-cost.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/controller/iterating_test.go
  pkg/agent/llm_client.go
Due: go, python

chore(config): bump kubernetes-mcp-server to 0.0.67
  deploy/config/tarsy.yaml.example
  pkg/config/builtin.go
  pkg/mcp/transport_test.go
Due: go

comments
  deploy/config/tarsy.yaml.example
  pkg/mcp/transport.go
  pkg/mcp/transport_test.go
Due: go

chore(config): bump kubernetes-mcp-server to 0.0.67 (#358)
  deploy/config/tarsy.yaml.example
  pkg/config/builtin.go
  pkg/mcp/transport.go
  pkg/mcp/transport_test.go
Due: go

chore(deps): sync uv.lock with anyio 4.14.2
  llm-service/uv.lock
Due: none

chore(deps): bump anyio from 4.12.1 to 4.14.2 in /llm-service (#360)
  llm-service/requirements.txt
  llm-service/uv.lock
Due: none

feat(config): add GPT-6, Opus 5.5, and Grok builtins
  deploy/config/README.md
  deploy/config/llm-providers.yaml.example
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/llm/providers/prompt_cache.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/book_test.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
Due: go, python

feat(config): add GPT-6, Opus 5.5, and Grok builtins (#361)
  deploy/config/README.md
  deploy/config/llm-providers.yaml.example
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/llm/providers/prompt_cache.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/book_test.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
Due: go, python

feat(sessions): persist cancel actor and reason
  docs/proposals/session-cancel-reason-design.md
  docs/proposals/session-cancel-reason-questions.md
  docs/slack-integration.md
  ent/alertsession.go
  ent/alertsession/alertsession.go
  ent/alertsession/where.go
  ent/alertsession_create.go
  ent/alertsession_update.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/schema/alertsession.go
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/database/migrations/20260923231007_add_session_cancel_metadata.up.sql
  pkg/database/migrations/atlas.sum
  pkg/models/session.go
  pkg/queue/integration_test.go
  pkg/queue/worker.go
  pkg/services/cancel_reason.go
  pkg/services/cancel_reason_test.go
  pkg/services/session_service.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  pkg/services/session_service_test.go
  pkg/services/stage_service.go
  pkg/services/stage_service_test.go
  pkg/slack/message.go
  pkg/slack/message_test.go
  pkg/slack/service.go
  test/e2e/cancellation_test.go
  test/e2e/helpers.go
Due: go

Fix tests
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/skills/session.golden
Due: none

comments
  pkg/services/stage_service.go
  pkg/services/stage_service_test.go
  pkg/slack/message.go
  pkg/slack/message_test.go
Due: go

feat(sessions): persist cancel actor and reason (#362)
  docs/proposals/session-cancel-reason-design.md
  docs/proposals/session-cancel-reason-questions.md
  docs/slack-integration.md
  ent/alertsession.go
  ent/alertsession/alertsession.go
  ent/alertsession/where.go
  ent/alertsession_create.go
  ent/alertsession_update.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/schema/alertsession.go
  pkg/api/handler_session.go
  pkg/api/handler_session_test.go
  pkg/database/migrations/20260923231007_add_session_cancel_metadata.up.sql
  pkg/database/migrations/atlas.sum
  pkg/models/session.go
  pkg/queue/integration_test.go
  pkg/queue/worker.go
  pkg/services/cancel_reason.go
  pkg/services/cancel_reason_test.go
  pkg/services/session_service.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  pkg/services/session_service_test.go
  pkg/services/stage_service.go
  pkg/services/stage_service_test.go
  pkg/slack/message.go
  pkg/slack/message_test.go
  pkg/slack/service.go
  test/e2e/cancellation_test.go
  test/e2e/helpers.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/skills/session.golden
Due: go

feat(dashboard): add cancel reason and non-error cancelled chrome
  docs/proposals/session-cancel-reason-design.md
  web/dashboard/src/components/common/CancelReasonField.tsx
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/components/common/StatusBadge.tsx
  web/dashboard/src/components/dashboard/QueuedAlertsSection.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/trace/ParallelExecutionTabs.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/SubAgentTabs.tsx
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/components/QueuedAlertsSection.test.tsx
  web/dashboard/src/test/components/ScoreBadge.test.tsx
  web/dashboard/src/test/components/SessionHeader.test.tsx
  web/dashboard/src/test/components/StatusBadge.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/utils/composePresentation.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/test/utils/sessionStatus.test.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/utils/format.ts
Due: none

comments
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/test/components/FinalAnalysisCard.test.tsx
Due: none

feat(dashboard): add cancel reason and non-error cancelled chrome (#363)
  docs/proposals/session-cancel-reason-design.md
  web/dashboard/src/components/common/CancelReasonField.tsx
  web/dashboard/src/components/common/ScoreBadge.tsx
  web/dashboard/src/components/common/StatusBadge.tsx
  web/dashboard/src/components/dashboard/QueuedAlertsSection.tsx
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/trace/ParallelExecutionTabs.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/SubAgentTabs.tsx
  web/dashboard/src/constants/sessionStatus.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/test/components/FinalAnalysisCard.test.tsx
  web/dashboard/src/test/components/QueuedAlertsSection.test.tsx
  web/dashboard/src/test/components/ScoreBadge.test.tsx
  web/dashboard/src/test/components/SessionHeader.test.tsx
  web/dashboard/src/test/components/StatusBadge.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/utils/composePresentation.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/test/utils/sessionStatus.test.ts
  web/dashboard/src/types/session.ts
  web/dashboard/src/utils/format.ts
Due: none

feat(orchestrator): add optional reason to cancel_agent
  docs/proposals/session-cancel-reason-design.md
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/orchestrator/tool_executor.go
  pkg/agent/orchestrator/tool_executor_test.go
  pkg/agent/orchestrator/types.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  test/e2e/orchestrator_test.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/02_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/05_SREOrchestrator_llm_iteration_3.golden
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/SubAgentCard.test.tsx
  web/dashboard/src/types/events.ts
Due: go

comment
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
Due: go

comment
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/test/components/StageContent.deepLink.test.tsx
  web/dashboard/src/types/events.ts
Due: none

comment
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/test/components/SubAgentCard.test.tsx
Due: none

docs
  README.md
  docs/adr/0002-orchestrator-impl.md
  docs/adr/0032-session-cancel-reason.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/session-cancel-reason-design.md
  docs/proposals/session-cancel-reason-questions.md
  docs/slack-integration.md
Due: none
