Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

Update CLAUDE.MD (#215)
  CLAUDE.md
Due: none

Dashboard
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/toolTypes.ts
Due: none

streaming
  pkg/agent/controller/summarize.go
  pkg/agent/controller/tool_execution.go
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
Due: go

Include chats in past session search result (#214)
  pkg/agent/controller/summarize.go
  pkg/agent/controller/tool_execution.go
  pkg/memory/service.go
  pkg/memory/session_search_integration_test.go
  pkg/memory/tool_executor.go
  pkg/memory/tool_executor_test.go
  pkg/memory/types.go
  test/e2e/memory_test.go
  test/e2e/testdata/golden/memory-session-search/trace_interactions/10_ChatAgent_mcp_search_past_sessions_1.golden
  test/e2e/testdata/golden/memory-session-search/trace_interactions/11_ChatAgent_llm_summarization_1.golden
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/toolTypes.ts
Due: go

Demo link in README.md
  README.md
  docs/img/TARSy.png
Due: none

image
  docs/img/TARSy.png
Due: none

img
  docs/img/TARSy.png
Due: none

md
  README.md
Due: none

Demo link in README.md (#216)
  README.md
  docs/img/TARSy.png
Due: none

Add implicit orchestrator design proposal
  .cursor/commands/commit.md
  docs/proposals/implicit-orchestrator-design.md
  docs/proposals/implicit-orchestrator-questions.md
Due: none

Refine implicit orchestrator design from PR review
  .cursor/commands/commit.md
  docs/proposals/implicit-orchestrator-design.md
Due: none

Add implicit orchestrator design proposal (#218)
  .cursor/commands/commit.md
  docs/proposals/implicit-orchestrator-design.md
  docs/proposals/implicit-orchestrator-questions.md
Due: none

Make orchestration an implicit capability instead of an explicit agent type
  deploy/config/tarsy.yaml.example
  pkg/agent/config_resolver_test.go
  pkg/agent/controller/factory.go
  pkg/agent/controller/factory_test.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/api/handler_trace_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/enums.go
  pkg/config/enums_test.go
  pkg/config/loader_test.go
  pkg/config/sub_agent_registry.go
  pkg/config/sub_agent_registry_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/queue/executor_memory.go
  pkg/queue/executor_memory_test.go
  pkg/services/session_service_test.go
  pkg/services/stage_service_test.go
  pkg/services/timeline_service_test.go
  test/e2e/orchestrator_test.go
  test/e2e/testdata/configs/builtin-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/orchestrator-cancel/tarsy.yaml
  test/e2e/testdata/configs/orchestrator/tarsy.yaml
  test/e2e/testdata/configs/skills-orchestrator/tarsy.yaml
Due: go

Restore built-in agent comments in tarsy.yaml.example
  deploy/config/tarsy.yaml.example
Due: none

Address PR review feedback for implicit orchestrator
  pkg/agent/orchestrator/runner_test.go
  pkg/config/agent.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
Due: go

update
  docs/proposals/implicit-orchestrator-design.md
Due: none

commetns
  docs/proposals/implicit-orchestrator-design.md
Due: none

Add chat sub-agents and additive stage-level skills
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_integration_test.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_helpers_test.go
  pkg/queue/executor_memory.go
Due: go

Mark PR1 and PR2 done in implicit orchestrator proposal
  docs/proposals/implicit-orchestrator-design.md
Due: none

prompt
  deploy/config/tarsy.yaml.example
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/queue/chat_executor_integration_test.go
  test/e2e/testdata/golden/orchestrator/trace_interactions/02_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/05_SREOrchestrator_llm_iteration_3.golden
Due: go

Tool name normalization
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/controller/tool_name_consistency_test.go
  pkg/agent/orchestrator/builtintools_aliases_test.go
  pkg/agent/orchestrator/tool_executor.go
  pkg/agent/orchestrator/tool_executor_test.go
  pkg/agent/orchestrator/types.go
  pkg/agent/prompt/orchestrator.go
  pkg/agent/skill/tool_executor.go
  pkg/agent/skill/tool_executor_test.go
  pkg/builtintools/names.go
  pkg/builtintools/names_test.go
  pkg/mcp/executor_test.go
  pkg/mcp/router.go
  pkg/mcp/router_test.go
  pkg/memory/tool_executor.go
  pkg/memory/tool_executor_test.go
Due: go

lint
  pkg/builtintools/names.go
Due: go

comments
  deploy/config/tarsy.yaml.example
  pkg/agent/orchestrator/builtintools_aliases_test.go
  pkg/agent/orchestrator/types.go
Due: go

Fix websearch tool
  deploy/config/tarsy.yaml.example
  pkg/agent/controller/iterating.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/prompt/orchestrator_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/enums.go
  pkg/config/enums_test.go
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/constants/toolTypes.ts
Due: go

fix test
  pkg/agent/prompt/orchestrator_test.go
Due: none

comments
  deploy/config/tarsy.yaml.example
  pkg/agent/orchestrator/runner.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/test/utils/toolCallVisual.test.ts
  web/dashboard/src/utils/toolCallVisual.ts
Due: go

comments
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

Fix webresarch tools - tested - works
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  llm-service/uv.lock
  pkg/agent/controller/timeline.go
  pkg/agent/controller/timeline_test.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/enums.go
  pkg/config/enums_test.go
  web/dashboard/src/components/session/ConversationTimeline.tsx
Due: go, python

Promote implicit orchestrator proposal to ADR-0015
  README.md
  deploy/config/README.md
  docs/adr/0015-implicit-orchestrator.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/implicit-orchestrator-design.md
  docs/proposals/implicit-orchestrator-questions.md
Due: none

flash
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Promote implicit orchestrator proposal to ADR-0015 (#221)
  README.md
  deploy/config/README.md
  docs/adr/0015-implicit-orchestrator.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/implicit-orchestrator-design.md
  docs/proposals/implicit-orchestrator-questions.md
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

Add copy buttons to timeline cards in dashboard
  web/dashboard/src/components/timeline/NativeToolItem.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
Due: none

Fix clearing action taken and investigation feedback in reviews
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go

Increase default session timeout to 30 minutes
  deploy/config/tarsy.yaml.example
  deploy/kustomize/base/tarsy-deployment.yaml
  docs/functional-areas-design.md
  pkg/config/queue.go
  pkg/queue/worker_test.go
Due: go

Fix test assertions for 30m session timeout default
  pkg/config/queue_test.go
  pkg/queue/worker_test.go
Due: none

Increase default session timeout to 30 minutes (#231)
  deploy/config/tarsy.yaml.example
  deploy/kustomize/base/tarsy-deployment.yaml
  docs/functional-areas-design.md
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/queue/worker_test.go
Due: go

Show who last edited session feedback
  docs/proposals/feedback-edited-by-design.md
  docs/proposals/feedback-edited-by-questions.md
  pkg/models/session.go
  pkg/services/session_service.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/skills/session.golden
  web/dashboard/src/components/dashboard/CompleteReviewModal.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/EditFeedbackModal.tsx
  web/dashboard/src/components/dashboard/ReviewModalHeader.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
  web/dashboard/src/types/session.ts
Due: go

remove docs
  docs/proposals/feedback-edited-by-design.md
  docs/proposals/feedback-edited-by-questions.md
Due: none
