Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

update
  docs/proposals/scoring-framework-redesign-design.md
  docs/proposals/scoring-framework-redesign-sketch.md
Due: none

Phase 1
  docs/proposals/scoring-framework-redesign-design.md
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges.go
  pkg/agent/prompt/judges_test.go
  pkg/agent/prompt/vocabulary.go
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/score.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_missing_tools.golden
Due: go

comments
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges.go
  pkg/agent/prompt/judges_test.go
  pkg/agent/prompt/vocabulary.go
  test/e2e/testdata/golden/scoring/score.golden
Due: go

Scoring framework redesign - Phase 1 (#165)
  docs/proposals/scoring-framework-redesign-design-questions.md
  docs/proposals/scoring-framework-redesign-design.md
  docs/proposals/scoring-framework-redesign-questions.md
  docs/proposals/scoring-framework-redesign-sketch.md
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges.go
  pkg/agent/prompt/judges_test.go
  pkg/agent/prompt/vocabulary.go
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/score.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_missing_tools.golden
Due: go

Scoring framework redesign - Phase 2
  docs/proposals/scoring-framework-redesign-design.md
  ent/migrate/schema.go
  ent/mutation.go
  ent/runtime.go
  ent/schema/sessionscore.go
  ent/sessionscore.go
  ent/sessionscore/sessionscore.go
  ent/sessionscore/where.go
  ent/sessionscore_create.go
  ent/sessionscore_update.go
  pkg/agent/context.go
  pkg/agent/controller/scoring.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges_test.go
  pkg/api/handler_scoring.go
  pkg/database/migrations/20260313040714_rename_missing_tools_add_failure_tags.up.sql
  pkg/database/migrations/atlas.sum
  pkg/models/scoring.go
  pkg/queue/scoring_executor.go
  test/e2e/scoring_test.go
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/score.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  web/dashboard/src/pages/ScoringPage.tsx
  web/dashboard/src/types/api.ts
Due: go

Tests
  pkg/agent/controller/scoring_test.go
Due: none

comments
  pkg/agent/controller/scoring.go
  pkg/agent/controller/scoring_test.go
  pkg/models/scoring.go
  web/dashboard/src/pages/ScoringPage.tsx
Due: go

docs
  docs/adr/0011-scoring-framework-redesign.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/scoring-framework-redesign-design-questions.md
  docs/proposals/scoring-framework-redesign-questions.md
  docs/proposals/scoring-framework-redesign-sketch.md
Due: none

LLM provider configuration for scoring agent
  deploy/config/tarsy.yaml.example
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/defaults.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_test.go
  test/e2e/scoring_test.go
  test/e2e/testdata/configs/scoring-defaults/llm-providers.yaml
  test/e2e/testdata/configs/scoring-defaults/tarsy.yaml
Due: go

update
  docs/functional-areas-design.md
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

Fix thinking token count for Gemini models
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Fix thinking token count for Gemini models (#168)
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Allow bulk sessoin review
  pkg/api/handler_review.go
  pkg/api/handler_review_test.go
  pkg/api/server.go
  pkg/models/session.go
  pkg/services/session_service_review.go
  pkg/services/session_service_review_test.go
  test/e2e/helpers.go
  test/e2e/review_workflow_test.go
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/dashboard/ResolveModal.tsx
  web/dashboard/src/components/dashboard/TriageGroupedList.tsx
  web/dashboard/src/components/dashboard/TriageSessionRow.tsx
  web/dashboard/src/components/dashboard/TriageView.tsx
  web/dashboard/src/services/api.ts
  web/dashboard/src/types/api.ts
Due: go

comments
  README.md
  pkg/services/session_service_review.go
  web/dashboard/src/components/dashboard/DashboardView.tsx
Due: go

comments
  pkg/services/session_service_review.go
  web/dashboard/src/components/dashboard/DashboardView.tsx
Due: go

actioned
  web/dashboard/src/components/dashboard/ResolveModal.tsx
Due: none

Skills - Proposal
  docs/proposals/agent-skills-questions.md
  docs/proposals/agent-skills-sketch.md
Due: none

Design
  docs/proposals/agent-skills-design-questions.md
  docs/proposals/agent-skills-design.md
  docs/proposals/agent-skills-sketch.md
Due: none

Skills - Proposal (#171)
  docs/proposals/agent-skills-design-questions.md
  docs/proposals/agent-skills-design.md
  docs/proposals/agent-skills-questions.md
  docs/proposals/agent-skills-sketch.md
Due: none

Skills - Foundation — SkillRegistry + Config Loading - Phase 1
  docs/proposals/agent-skills-design.md
  pkg/config/agent.go
  pkg/config/builtin.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/merge.go
  pkg/config/merge_test.go
  pkg/config/skill.go
  pkg/config/skill_loader.go
  pkg/config/skill_loader_test.go
  pkg/config/skill_test.go
  pkg/config/testdata/skills/kubernetes-basics/SKILL.md
  pkg/config/testdata/skills/networking/SKILL.md
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  pkg/config/loader.go
  pkg/config/skill_loader.go
  pkg/config/skill_loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  pkg/config/skill_loader.go
  pkg/config/skill_loader_test.go
Due: go

comments
  .cursor/skills/golang-testing-patterns/SKILL.md
  pkg/config/skill_loader_test.go
Due: none

Skills - Prompt Integration — Tiers 2.5 and 2.6 - Phase 2
  docs/proposals/agent-skills-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/prompt/instructions.go
  pkg/agent/prompt/instructions_test.go
  pkg/agent/prompt/skills.go
  pkg/agent/prompt/skills_test.go
Due: go

comments
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  pkg/config/validator.go
Due: go

Skills - Prompt Integration — Tiers 2.5 and 2.6 - Phase 2 (#173)
  docs/proposals/agent-skills-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/prompt/instructions.go
  pkg/agent/prompt/instructions_test.go
  pkg/agent/prompt/skills.go
  pkg/agent/prompt/skills_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

Skills - load_skill Tool + Executor Wiring - Phase 3
  docs/proposals/agent-skills-design.md
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/skill/tool_executor.go
  pkg/agent/skill/tool_executor_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
Due: go

fix
  pkg/queue/executor.go
Due: go

comments
  pkg/agent/skill/tool_executor.go
  pkg/agent/skill/tool_executor_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
Due: go

comments
  pkg/agent/skill/tool_executor.go
  pkg/agent/skill/tool_executor_test.go
Due: go

e2e tests
  test/e2e/skills_test.go
  test/e2e/testdata/configs/skills-orchestrator/llm-providers.yaml
  test/e2e/testdata/configs/skills-orchestrator/skills/networking/SKILL.md
  test/e2e/testdata/configs/skills-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/skills/llm-providers.yaml
  test/e2e/testdata/configs/skills/skills/kubernetes-basics/SKILL.md
  test/e2e/testdata/configs/skills/skills/networking/SKILL.md
  test/e2e/testdata/configs/skills/tarsy.yaml
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/skills/session.golden
  test/e2e/testdata/golden/skills/trace_interactions/01_SkillInvestigator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/02_SkillInvestigator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/03_SkillInvestigator_mcp_load_skill_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/04_SkillInvestigator_llm_iteration_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/05_SkillInvestigator_mcp_get_pods_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/06_SkillInvestigator_llm_iteration_3.golden
  test/e2e/testdata/golden/skills/trace_interactions/07_SkillRemediator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/08_SkillRemediator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/09_ExecSummaryAgent_llm_executive_summary_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/10_ChatAgent_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/11_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/12_ChatAgent_mcp_load_skill_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/13_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/skills/trace_list.golden
Due: none

Tests
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/01_SREOrchestrator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/02_SREOrchestrator_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/03_SREOrchestrator_mcp_dispatch_agent_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/04_SREOrchestrator_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/05_SREOrchestrator_llm_iteration_3.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/06_LogAnalyzer_mcp_tool_list_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/07_LogAnalyzer_llm_iteration_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/08_LogAnalyzer_mcp_search_logs_1.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/09_LogAnalyzer_llm_iteration_2.golden
  test/e2e/testdata/golden/orchestrator/trace_interactions/09_Session_llm_executive_summary_1.golden
  test/e2e/testdata/golden/orchestrator/trace_list.golden
  test/e2e/testdata/golden/skills/session.golden
  test/e2e/testdata/golden/skills/trace_interactions/02_SkillInvestigator_mcp_tool_list_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/03_SkillInvestigator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/04_SkillInvestigator_mcp_load_skill_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/05_SkillInvestigator_llm_iteration_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/06_SkillInvestigator_mcp_get_pods_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/07_SkillInvestigator_llm_iteration_3.golden
  test/e2e/testdata/golden/skills/trace_interactions/08_SkillRemediator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/09_SkillRemediator_mcp_tool_list_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/10_SkillRemediator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/11_ExecSummaryAgent_llm_executive_summary_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/12_ChatAgent_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/13_ChatAgent_mcp_tool_list_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/14_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/15_ChatAgent_mcp_load_skill_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/16_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/skills/trace_list.golden
Due: go

tests
  docs/proposals/agent-skills-design.md
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/prompt/instructions.go
  pkg/agent/prompt/instructions_test.go
  pkg/agent/prompt/skills.go
  pkg/agent/prompt/skills_test.go
  pkg/agent/skill/tool_executor.go
  test/e2e/skills_test.go
  test/e2e/testdata/golden/skills/trace_interactions/01_SkillInvestigator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/03_SkillInvestigator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/05_SkillInvestigator_llm_iteration_2.golden
  test/e2e/testdata/golden/skills/trace_interactions/07_SkillInvestigator_llm_iteration_3.golden
  test/e2e/testdata/golden/skills/trace_interactions/08_SkillRemediator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/10_SkillRemediator_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/12_ChatAgent_mcp_tool_list_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/14_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/16_ChatAgent_llm_iteration_2.golden
Due: go

comments
  docs/proposals/agent-skills-design.md
  pkg/agent/controller/tool_execution.go
  pkg/agent/prompt/skills_test.go
  test/e2e/skills_test.go
Due: go

Docs
  .gitignore
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0012-agent-skills.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/agent-skills-design-questions.md
  docs/proposals/agent-skills-questions.md
  docs/proposals/agent-skills-sketch.md
  test/e2e/skills_test.go
Due: none

type
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/timeline.go
  pkg/agent/controller/tool_execution.go
  test/e2e/testdata/golden/orchestrator/timeline.golden
  test/e2e/testdata/golden/pipeline/timeline.golden
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/trace/InteractionCard.tsx
  web/dashboard/src/components/trace/MCPInteractionDetail.tsx
  web/dashboard/src/components/trace/MCPInteractionPreview.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/constants/toolTypes.ts
Due: go

Deploy skills
  .gitignore
  deploy/config/README.md
  deploy/kustomize/base/tarsy-deployment.yaml
  deploy/kustomize/overlays/development/kustomization.yaml
  docs/adr/0012-agent-skills.md
  docs/functional-areas-design.md
  make/openshift.mk
  pkg/config/skill_loader.go
  pkg/config/skill_loader_test.go
Due: go

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
