Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

Fix runbook loading (#65)
  pkg/runbook/github_test.go
  pkg/runbook/service.go
  pkg/runbook/service_test.go
Due: go

Phase 8.3: Slack integraton design docs
  docs/phase8.3-slack-notifications-design.md
  docs/phase8.3-slack-notifications-questions.md
Due: none

Phase 8.3: Slack integraton design docs (#66)
  docs/phase8.3-slack-notifications-design.md
  docs/phase8.3-slack-notifications-questions.md
Due: none

Phase 8.3 Slack Integration implementation
  cmd/tarsy/main.go
  deploy/config/.env.example
  deploy/config/tarsy.yaml.example
  go.mod
  go.sum
  pkg/api/handler_alert.go
  pkg/api/requests.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/system.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/integration_test.go
  pkg/queue/pool.go
  pkg/queue/worker.go
  pkg/queue/worker_test.go
  pkg/services/alert_service.go
  pkg/services/alert_service_test.go
  pkg/slack/client.go
  pkg/slack/fingerprint.go
  pkg/slack/fingerprint_test.go
  pkg/slack/message.go
  pkg/slack/message_test.go
  pkg/slack/service.go
  pkg/slack/service_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/slack_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/types/api.ts
Due: go

lint
  pkg/slack/client.go
  pkg/slack/service_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/slack_test.go
Due: go

preserve fingerprint
  pkg/models/session.go
  pkg/services/session_service.go
  test/e2e/slack_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/types/session.ts
Due: go

comments
  deploy/config/tarsy.yaml.example
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/slack/client.go
  pkg/slack/message.go
  pkg/slack/message_test.go
  pkg/slack/service.go
Due: go

comments
  test/e2e/slack_test.go
Due: none

default
  deploy/config/tarsy.yaml.example
  pkg/config/config.go
  pkg/config/loader.go
Due: go

Phase 8.3 Slack Integration implementation (#67)
  cmd/tarsy/main.go
  deploy/config/.env.example
  deploy/config/tarsy.yaml.example
  go.mod
  go.sum
  pkg/api/handler_alert.go
  pkg/api/requests.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/system.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/models/session.go
  pkg/queue/integration_test.go
  pkg/queue/pool.go
  pkg/queue/worker.go
  pkg/queue/worker_test.go
  pkg/services/alert_service.go
  pkg/services/alert_service_test.go
  pkg/services/session_service.go
  pkg/slack/client.go
  pkg/slack/fingerprint.go
  pkg/slack/fingerprint_test.go
  pkg/slack/message.go
  pkg/slack/message_test.go
  pkg/slack/service.go
  pkg/slack/service_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/slack_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/types/api.ts
  web/dashboard/src/types/session.ts
Due: go

fix flaky test
  test/e2e/pipeline_test.go
Due: none

fix flaky test (#68)
  test/e2e/pipeline_test.go
Due: none

Phase 9 Security and Containerization design documents
  docs/architecture-context.md
  docs/archive/phase8.3-slack-notifications-design.md
  docs/archive/phase8.3-slack-notifications-questions.md
  docs/phase10-kubernetes-deployment-design.md
  docs/phase9-security-containerization-design.md
  docs/phase9-security-containerization-questions.md
  docs/project-plan.md
Due: none

docs
  docs/phase9-security-containerization-design.md
  docs/phase9-security-containerization-questions.md
Due: none

docs
  docs/phase10-kubernetes-deployment-design.md
  docs/phase9-security-containerization-design.md
Due: none

docs
  docs/phase9-security-containerization-design.md
Due: none

docs
  docs/phase10-kubernetes-deployment-design.md
  docs/phase10-kubernetes-deployment-questions.md
Due: none

Add CLAUDE.md with basic instructions for Claude Code.
  CLAUDE.md
Due: none

Implement the prompt templates for the judge LLM prompts that will be used for session scoring.
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges.go
  pkg/agent/prompt/judges_test.go
Due: go

Add CLAUDE.md with basic instructions for Claude Code. (#70)
  CLAUDE.md
Due: none

docs
  docs/phase10-kubernetes-deployment-design.md
Due: none

Implement the prompt templates for the judge LLM prompts (#69)
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/judges.go
  pkg/agent/prompt/judges_test.go
Due: go

Phases 9 & 10: Security, Containerization and Deployment design documents (#71)
  docs/architecture-context.md
  docs/archive/phase8.3-slack-notifications-design.md
  docs/archive/phase8.3-slack-notifications-questions.md
  docs/phase10-kubernetes-deployment-design.md
  docs/phase10-kubernetes-deployment-questions.md
  docs/phase9-security-containerization-design.md
  docs/phase9-security-containerization-questions.md
  docs/project-plan.md
Due: none

Phase 9 implementation
  .dockerignore
  .gitignore
  Dockerfile
  deploy/config/.env.example
  deploy/config/README.md
  deploy/config/oauth.env.example
  deploy/config/oauth2-proxy.cfg.template
  deploy/config/templates/sign_in.html
  deploy/podman-compose.yml
  docs/phase9-security-containerization-design.md
  llm-service/Dockerfile
  llm-service/llm/server.py
  llm-service/pyproject.toml
  llm-service/uv.lock
  make/containers.mk
  make/db.mk
  pkg/api/handler_health.go
  pkg/api/handler_ws.go
  pkg/api/middleware.go
  pkg/api/middleware_test.go
  pkg/api/responses.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/config/config.go
  pkg/config/loader.go
Due: go, python

readme
  README.md
  deploy/README.md
  deploy/config/README.md
  deploy/config/oauth.env copy.example
  make/dev.mk
  make/help.mk
Due: none

readme
  README.md
  docs/img/TARSy-logo.png
Due: none

readme
  README.md
Due: none

fix
  llm-service/.dockerignore
  make/containers.mk
  make/db.mk
Due: none

image
  deploy/config/templates/tarsy-logo.png
Due: none

fix
  deploy/config/templates/sign_in.html
Due: none

comments
  deploy/config/oauth.env copy.example
  deploy/config/oauth.env.example
  llm-service/Dockerfile
  pkg/agent/prompt/judges_test.go
  pkg/api/server.go
  pkg/api/server_test.go
Due: go

fix tests
  test/e2e/dashboard_test.go
  test/e2e/slack_test.go
Due: none

fix
  deploy/config/oauth.env.example
Due: none

Phase 9: Containerization and Security implementation (#72)
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  deploy/README.md
  deploy/config/.env.example
  deploy/config/README.md
  deploy/config/oauth.env.example
  deploy/config/oauth2-proxy.cfg.template
  deploy/config/templates/sign_in.html
  deploy/config/templates/tarsy-logo.png
  deploy/podman-compose.yml
  docs/img/TARSy-logo.png
  docs/phase9-security-containerization-design.md
  llm-service/.dockerignore
  llm-service/Dockerfile
  llm-service/llm/server.py
  llm-service/pyproject.toml
  llm-service/uv.lock
  make/containers.mk
  make/db.mk
  make/dev.mk
  make/help.mk
  pkg/agent/prompt/judges_test.go
  pkg/api/handler_health.go
  pkg/api/handler_ws.go
  pkg/api/middleware.go
  pkg/api/middleware_test.go
  pkg/api/responses.go
  pkg/api/server.go
  pkg/api/server_test.go
  pkg/config/config.go
  pkg/config/loader.go
  test/e2e/dashboard_test.go
  test/e2e/slack_test.go
Due: go, python

Phase 10: OpenShift Deployment implementation
  .github/workflows/build-and-push-llm-service.yml
  .github/workflows/build-and-push-tarsy.yml
  .gitignore
  deploy/kustomize/base/database-deployment.yaml
  deploy/kustomize/base/imagestreams.yaml
  deploy/kustomize/base/kustomization.yaml
  deploy/kustomize/base/namespace.yaml
  deploy/kustomize/base/persistentvolumeclaims.yaml
  deploy/kustomize/base/rbac.yaml
  deploy/kustomize/base/routes.yaml
  deploy/kustomize/base/secrets-template.yaml
  deploy/kustomize/base/services.yaml
  deploy/kustomize/base/tarsy-deployment.yaml
  deploy/kustomize/overlays/development/kustomization.yaml
  deploy/openshift.env.example
  docs/project-plan.md
  make/openshift.mk
  pkg/api/auth.go
  pkg/api/auth_test.go
Due: go

don't fail if mcp is unreachible
  cmd/tarsy/main.go
  deploy/README.md
  docs/architecture-context.md
  docs/project-plan.md
  pkg/mcp/client.go
Due: go

fix
  deploy/openshift.env.example
  make/openshift.mk
Due: none

cancel channel
  cmd/tarsy/main.go
  deploy/openshift.env.example
  docs/architecture-context.md
  pkg/api/handler_session.go
  pkg/api/server.go
  pkg/events/integration_test.go
  pkg/events/listener.go
  pkg/events/listener_test.go
  pkg/events/publisher.go
  pkg/events/publisher_test.go
  pkg/events/types.go
  pkg/mcp/client.go
  pkg/mcp/client_factory.go
  pkg/mcp/client_test.go
  pkg/mcp/integration_test.go
Due: go

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
