Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

fix(llm-service): set max_retries=0 on chat constructors
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

feat: enable prompt caching on looping Generate calls (#325)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/proposals/prompt-caching-design.md
  docs/session-usage-cost.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/controller/single_shot_test.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/llm_client.go
  pkg/agent/llm_grpc.go
  pkg/agent/llm_grpc_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/system.go
  proto/llm_service.pb.go
  proto/llm_service.proto
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go, python

feat: show prompt-cache tokens on trace LLM interactions
  docs/proposals/prompt-caching-design.md
  docs/session-usage-cost.md
  pkg/api/handler_trace.go
  pkg/api/handler_trace_test.go
  pkg/models/interaction.go
  pkg/models/interaction_test.go
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/components/trace/LLMInteractionDetail.tsx
  web/dashboard/src/components/trace/LLMInteractionPreview.tsx
  web/dashboard/src/components/trace/TraceTimeline.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/test/components/LLMInteractionDetail.test.tsx
  web/dashboard/src/test/components/LLMInteractionPreview.test.tsx
  web/dashboard/src/test/components/TokenUsageDisplay.test.tsx
  web/dashboard/src/test/utils/traceHelpers.test.ts
  web/dashboard/src/types/trace.ts
Due: go

test: assert prompt-cache tokens on the usage-cost e2e path
  test/e2e/usage_cost_test.go
Due: none

docs: promote prompt caching design to ADR-0026
  README.md
  deploy/config/README.md
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/prompt-caching-design.md
  docs/proposals/prompt-caching-questions.md
  docs/session-usage-cost.md
Due: none

fix(dashboard): separate cache tokens from main usage
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/test/components/TokenUsageDisplay.test.tsx
Due: none

feat: show prompt-cache tokens on trace LLM interactions (#326)
  README.md
  deploy/config/README.md
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/prompt-caching-design.md
  docs/proposals/prompt-caching-questions.md
  docs/session-usage-cost.md
  pkg/api/handler_trace.go
  pkg/api/handler_trace_test.go
  pkg/models/interaction.go
  pkg/models/interaction_test.go
  test/e2e/usage_cost_test.go
  web/dashboard/src/components/shared/TokenUsageDisplay.tsx
  web/dashboard/src/components/trace/LLMInteractionDetail.tsx
  web/dashboard/src/components/trace/LLMInteractionPreview.tsx
  web/dashboard/src/components/trace/TraceTimeline.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/test/components/LLMInteractionDetail.test.tsx
  web/dashboard/src/test/components/LLMInteractionPreview.test.tsx
  web/dashboard/src/test/components/TokenUsageDisplay.test.tsx
  web/dashboard/src/test/utils/traceHelpers.test.ts
  web/dashboard/src/types/trace.ts
Due: go

fix(llm-service): retry 429/404/5xx before Go fallback
  docs/proposals/llm-transient-outage-design.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/http_status.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_http_status.py
  llm-service/tests/test_langchain_provider.py
  pkg/agent/controller/iterating_test.go
Due: python

comment
  llm-service/llm/providers/http_status.py
  llm-service/tests/test_http_status.py
Due: python

fix(llm-service): retry 429/404/5xx before Go fallback (#327)
  docs/proposals/llm-transient-outage-design.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/http_status.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_http_status.py
  llm-service/tests/test_langchain_provider.py
  pkg/agent/controller/iterating_test.go
Due: python

feat(controller): harden fallback for transient LLM outages
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0017-native-tool-fallback-safety.md
  docs/adr/0024-tool-summarization-provider.md
  docs/adr/0026-prompt-caching.md
  docs/adr/0027-llm-transient-outage.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/llm-transient-outage-design.md
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
Due: go

comment
  docs/adr/0017-native-tool-fallback-safety.md
  docs/functional-areas-design.md
Due: none

docs: clarify fallback consecutive triggers
  docs/functional-areas-design.md
Due: none

feat(controller): harden fallback for transient LLM outages (#328)
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0017-native-tool-fallback-safety.md
  docs/adr/0024-tool-summarization-provider.md
  docs/adr/0026-prompt-caching.md
  docs/adr/0027-llm-transient-outage.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/llm-transient-outage-design.md
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
Due: go

fix(llm-service): preserve Gemini tool history on provider fallback
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

Tests
  llm-service/tests/test_google_native.py
  pkg/agent/controller/iterating_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
Due: none

update
  llm-service/pyproject.toml
  llm-service/requirements.txt
  llm-service/uv.lock
Due: none

fix(llm-service): preserve Gemini tool history on provider fallback (#329)
  llm-service/llm/providers/google_native.py
  llm-service/pyproject.toml
  llm-service/requirements.txt
  llm-service/tests/test_google_native.py
  llm-service/uv.lock
  pkg/agent/controller/iterating_test.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
Due: python

feat(llm-service): tighten identical LLM retries
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/http_status.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/retry.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_http_status.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_retry.py
  llm-service/tests/test_servicer.py
Due: python

fix(llm-service): put cache_control on tool_result
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

docs: scope LLM retry design to Python hygiene
  docs/proposals/llm-retry-resilience-design.md
  docs/proposals/llm-retry-resilience-questions.md
Due: none

comments
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/retry.py
  llm-service/tests/test_retry.py
Due: python

docs
  docs/adr/0028-llm-retry-resilience.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/llm-retry-resilience-design.md
  docs/proposals/llm-retry-resilience-questions.md
Due: none

docs
  docs/adr/0028-llm-retry-resilience.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
Due: none

feat(llm-service): tighten identical LLM retries (#330)
  docs/adr/0028-llm-retry-resilience.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/http_status.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/retry.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_http_status.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_retry.py
  llm-service/tests/test_servicer.py
Due: python

feat(config): default omitted fallback backend to langchain
  deploy/config/README.md
  docs/adr/0003-llm-provider-fallback.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/enums.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  docs/adr/0003-llm-provider-fallback.md
Due: none

feat(config): default omitted fallback backend to langchain (#331)
  deploy/config/README.md
  docs/adr/0003-llm-provider-fallback.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/enums.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

fix(agent): pair named LLM providers with langchain
  deploy/config/README.md
  docs/adr/0003-llm-provider-fallback.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
Due: go

fix tests
  test/e2e/action_test.go
  test/e2e/harness.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/07_FeedbackReflector_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/08_ScoringAgent_llm_scoring_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/09_ScoringAgent_llm_scoring_2.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/10_ScoringAgent_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/skills/session.golden
Due: none

fix(agent): pair named LLM providers with langchain (#332)
  deploy/config/README.md
  docs/adr/0003-llm-provider-fallback.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  test/e2e/action_test.go
  test/e2e/harness.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/07_FeedbackReflector_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/08_ScoringAgent_llm_scoring_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/09_ScoringAgent_llm_scoring_2.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/10_ScoringAgent_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/orchestrator/session.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/skills/session.golden
Due: go

fix: repair GPT-5.6 prompt cache on looping calls
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/llm_client.go
  pkg/agent/llm_grpc.go
  pkg/agent/llm_grpc_test.go
  proto/llm_service.pb.go
  proto/llm_service.proto
  test/e2e/pipeline_test.go
Due: go, python

comment
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
Due: python

fix: repair GPT-5.6 prompt cache on looping calls (#333)
  docs/adr/0026-prompt-caching.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/llm_client.go
  pkg/agent/llm_grpc.go
  pkg/agent/llm_grpc_test.go
  proto/llm_service.pb.go
  proto/llm_service.proto
  test/e2e/pipeline_test.go
Due: go, python

fix: keep Claude prompt-cache breakpoints sticky
  docs/adr/0026-prompt-caching.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/agent/controller/iterating_test.go
Due: python

fix: cache Claude looping calls via tool schema only
  docs/adr/0026-prompt-caching.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

comment
  pkg/agent/controller/iterating_test.go
Due: none

fix: keep Claude prompt-cache breakpoints sticky (#334)
  docs/adr/0026-prompt-caching.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/agent/controller/iterating_test.go
Due: python

chore: default Google provider to Gemini 3.8 Flash
  deploy/config/README.md
  deploy/config/llm-providers.yaml.quickstart
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
Due: go

comments
  docs/adr/0023-cost-promotions.md
  docs/session-usage-cost.md
  pkg/cost/book_test.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
Due: go
