Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

more tests
  pkg/masking/service_test.go
Due: none

Multi-tenancy sketch documents
  docs/proposals/session-authorization-questions.md
  docs/proposals/session-authorization-sketch.md
  docs/proposals/token-exchange-questions.md
  docs/proposals/token-exchange-sketch.md
Due: none

comments
  docs/proposals/session-authorization-questions.md
  docs/proposals/session-authorization-sketch.md
  docs/proposals/token-exchange-questions.md
  docs/proposals/token-exchange-sketch.md
Due: none

Multi-tenancy sketch documents (#128)
  docs/proposals/session-authorization-questions.md
  docs/proposals/session-authorization-sketch.md
  docs/proposals/token-exchange-questions.md
  docs/proposals/token-exchange-sketch.md
Due: none

Support tables in MD rendering in dashboard
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/shared/ContentPreviewTooltip.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

comments
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

Support tables in MD rendering in dashboard (#129)
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/dashboard/SessionListItem.tsx
  web/dashboard/src/components/session/FinalAnalysisCard.tsx
  web/dashboard/src/components/shared/ContentPreviewTooltip.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/ThinkingItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/components/timeline/UserQuestionItem.tsx
  web/dashboard/src/utils/markdownComponents.tsx
Due: none

Fix vertexai setup for anthropic models
  llm-service/llm/providers/langchain_provider.py
  pkg/config/builtin.go
Due: go, python

Test
  llm-service/tests/test_langchain_provider.py
Due: none

comments
  llm-service/llm/providers/langchain_provider.py
Due: python

Fix vertexai setup for anthropic models (#130)
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/config/builtin.go
Due: go, python

Optimize streaming performance
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go

timeout
  deploy/config/tarsy.yaml.example
  pkg/agent/config_resolver.go
  pkg/agent/context.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/controller/tool_execution.go
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/mcp/recovery.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
  pkg/queue/worker_test.go
Due: go

python
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
Due: python

comments
  pkg/agent/controller/streaming.go
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go

comments
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

Optimize streaming performance (#131)
  deploy/config/tarsy.yaml.example
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  pkg/agent/config_resolver.go
  pkg/agent/context.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/controller/tool_execution.go
  pkg/config/queue.go
  pkg/config/queue_test.go
  pkg/mcp/recovery.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
  pkg/queue/worker_test.go
  web/dashboard/package-lock.json
  web/dashboard/package.json
  web/dashboard/src/components/session/ConversationTimeline.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/streaming/TypewriterText.tsx
  web/dashboard/src/components/timeline/StageContent.tsx
  web/dashboard/src/components/timeline/SubAgentCard.tsx
  web/dashboard/src/components/timeline/TimelineItem.tsx
  web/dashboard/src/hooks/useChatState.ts
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: go, python

Improve cancelation handling when streaming
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/timeline.go
  pkg/agent/llm_grpc.go
  pkg/queue/executor.go
  pkg/queue/executor_synthesis.go
  pkg/queue/executor_test.go
  pkg/queue/worker.go
  pkg/queue/worker_test.go
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
  test/e2e/timeout_test.go
Due: go

comments
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/timeline.go
  pkg/queue/executor_helpers.go
  pkg/queue/worker.go
  pkg/queue/worker_test.go
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
Due: go

comments
  pkg/queue/worker.go
  pkg/services/timeline_service.go
  pkg/services/timeline_service_test.go
Due: go

LLM Provider fallback desing docs
  docs/proposals/llm-provider-fallback-design.md
  docs/proposals/llm-provider-fallback-questions.md
Due: none

comments
  docs/proposals/llm-provider-fallback-design.md
Due: none

refine
  docs/proposals/llm-provider-fallback-design.md
Due: none

plan
  docs/proposals/llm-provider-fallback-design.md
Due: none

LLM Provider Fallback - Phase 1 - Configuration & Schema
  ent/agentexecution.go
  ent/agentexecution/agentexecution.go
  ent/agentexecution/where.go
  ent/agentexecution_create.go
  ent/agentexecution_update.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/schema/agentexecution.go
  ent/schema/timelineevent.go
  ent/timelineevent/timelineevent.go
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/llm_grpc.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/database/migrations/20260304000000_add_fallback_fields.up.sql
  proto/llm_service.pb.go
  proto/llm_service.proto
Due: go

tests
  docs/proposals/llm-provider-fallback-design.md
  pkg/agent/config_resolver_test.go
  pkg/config/loader_test.go
  pkg/config/validator_test.go
Due: none

comments
  pkg/agent/config_resolver.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

comments
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/validator.go
Due: go

fix migration
  pkg/database/migration_test.go
  pkg/database/migrations/20260304000000_add_fallback_fields.up.sql
  pkg/database/migrations/atlas.sum
Due: go

comments
  pkg/database/migration_test.go
Due: none

Fix streaming
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

LLM Provider Fallback - Phase 1 - Configuration & Schema (#134)
  docs/proposals/llm-provider-fallback-design.md
  ent/agentexecution.go
  ent/agentexecution/agentexecution.go
  ent/agentexecution/where.go
  ent/agentexecution_create.go
  ent/agentexecution_update.go
  ent/migrate/schema.go
  ent/mutation.go
  ent/schema/agentexecution.go
  ent/schema/timelineevent.go
  ent/timelineevent/timelineevent.go
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/llm_grpc.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/database/migration_test.go
  pkg/database/migrations/20260304000000_add_fallback_fields.up.sql
  pkg/database/migrations/atlas.sum
  proto/llm_service.pb.go
  proto/llm_service.proto
Due: go

Fix streaming (#135)
  web/dashboard/src/pages/SessionDetailPage.tsx
Due: none

LLM Provider Fallback - Phase 1 - Core Fallback Logic
  llm-service/llm/providers/google_native.py
  llm-service/tests/test_google_native.py
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/single_shot.go
  pkg/agent/controller/single_shot_test.go
  pkg/agent/controller/streaming.go
  pkg/agent/llm_client.go
  pkg/agent/llm_grpc.go
  pkg/agent/llm_grpc_test.go
  pkg/queue/executor_synthesis.go
  pkg/services/stage_service.go
Due: go, python

Tests
  docs/proposals/llm-provider-fallback-design.md
  llm-service/tests/test_google_native.py
  pkg/agent/controller/fallback_test.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/streaming_test.go
Due: none

format
  pkg/agent/config_resolver_test.go
  pkg/agent/controller/fallback.go
Due: go

e2e tests
  test/e2e/fallback_test.go
  test/e2e/mock_llm.go
  test/e2e/testdata/configs/fallback/llm-providers.yaml
  test/e2e/testdata/configs/fallback/tarsy.yaml
Due: none

improve
  deploy/config/tarsy.yaml.example
  docs/proposals/llm-provider-fallback-design.md
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/base_agent.go
  pkg/agent/controller/fallback.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/single_shot.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/scoring_agent.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_synthesis.go
Due: go
