Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

chore: default Google provider to Gemini 3.8 Flash (#336)
  deploy/config/README.md
  deploy/config/llm-providers.yaml.quickstart
  docs/adr/0023-cost-promotions.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/session-usage-cost.md
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/book_test.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
Due: go

fix(orchestrator): drop hardcoded 7m sub-agent timeout
  deploy/config/tarsy.yaml.example
  docs/proposals/sub-agent-execution-limits-design.md
  docs/proposals/sub-agent-execution-limits-questions.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/orchestrator/types.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/agent.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
Due: go

fix(orchestrator): drop hardcoded 7m sub-agent timeout (#338)
  deploy/config/tarsy.yaml.example
  docs/proposals/sub-agent-execution-limits-design.md
  docs/proposals/sub-agent-execution-limits-questions.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/orchestrator/types.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/agent.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_test.go
Due: go

feat(agent): wrap up iterating agents on a soft deadline
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/context.go
  pkg/agent/context/investigation_formatter.go
  pkg/agent/context/investigation_formatter_test.go
  pkg/agent/controller/deadline.go
  pkg/agent/controller/deadline_test.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/agent/orchestrator/types.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/forced_conclusion_time_budget.golden
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_integration_test.go
  pkg/queue/executor.go
  test/e2e/cancellation_test.go
  test/e2e/harness.go
  test/e2e/orchestrator_cancel_test.go
  test/e2e/review_workflow_test.go
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/pipeline/timeline.golden
  test/e2e/timeout_test.go
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/test/utils/finalAnalysisPresentation.test.ts
Due: go

comments
  docs/proposals/sub-agent-execution-limits-design.md
  pkg/agent/context/investigation_formatter.go
  pkg/agent/context/investigation_formatter_test.go
  pkg/agent/controller/iterating_test.go
Due: go

Fix tests
  test/e2e/testdata/golden/pipeline/trace_interactions/26_SynthesisAgent_llm_synthesis_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/35_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/37_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/38_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/41_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/43_ChatAgent_llm_iteration_4.golden
Due: none

comments
  docs/proposals/sub-agent-execution-limits-design.md
Due: none

UI
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/ForcedConclusionBadge.tsx
  web/dashboard/src/components/timeline/ResponseItem.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/test/utils/finalAnalysisPresentation.test.ts
Due: none

UI
  web/dashboard/src/components/timeline/ForcedConclusionBadge.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/test/utils/finalAnalysisPresentation.test.ts
Due: none

comment
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/test/utils/finalAnalysisPresentation.test.ts
  web/dashboard/src/test/utils/forcedConclusionBadge.test.tsx
Due: none

docs
  deploy/config/README.md
  deploy/config/tarsy.yaml.quickstart
  docs/adr/0002-orchestrator-impl.md
  docs/adr/0015-implicit-orchestrator.md
  docs/adr/0029-sub-agent-execution-limits.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/sub-agent-execution-limits-design.md
  docs/proposals/sub-agent-execution-limits-questions.md
Due: none

fix(agent): match action orchestrator prompts to dispatch tools
  docs/adr/0002-orchestrator-impl.md
  docs/adr/0015-implicit-orchestrator.md
  docs/functional-areas-design.md
  pkg/agent/prompt/action.go
  pkg/agent/prompt/action_test.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_test.go
Due: go

feat(config): add named fallback list catalog
  docs/proposals/named-fallback-lists-design.md
  docs/proposals/named-fallback-lists-questions.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/chain.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/fallback.go
  pkg/config/fallback_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
Due: go

Fix tests
  pkg/config/types.go
  proto/llm_service.pb.go
  proto/llm_service_grpc.pb.go
Due: go

feat(config): add named fallback list catalog (#340)
  docs/proposals/named-fallback-lists-design.md
  docs/proposals/named-fallback-lists-questions.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/config/chain.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/fallback.go
  pkg/config/fallback_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  proto/llm_service.pb.go
  proto/llm_service_grpc.pb.go
Due: go

fix(llm): avoid tool_choice none on Claude forced conclusion
  docs/adr/0026-prompt-caching.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

fix(llm): avoid tool_choice none on Claude forced conclusion (#341)
  docs/adr/0026-prompt-caching.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

feat(config): bind named fallback lists to agents and jobs
  docs/proposals/named-fallback-lists-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/config/agent.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/loader_test.go
  pkg/config/merge.go
  pkg/config/merge_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_compose.go
  pkg/queue/executor_exec_summary.go
  pkg/queue/executor_integration_test.go
  pkg/queue/executor_synthesis.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/split-lists/llm-providers.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
Due: go

feat(config): bind named fallback lists to agents and jobs (#342)
  docs/proposals/named-fallback-lists-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/orchestrator/runner_test.go
  pkg/config/agent.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/loader_test.go
  pkg/config/merge.go
  pkg/config/merge_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_compose.go
  pkg/queue/executor_exec_summary.go
  pkg/queue/executor_integration_test.go
  pkg/queue/executor_synthesis.go
  test/e2e/fallback_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/split-lists/llm-providers.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
Due: go

feat(config): expose named fallback lists in the config viewer
  docs/adr/0019-config-viewer.md
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go

tests
  pkg/agent/orchestrator/runner_test.go
Due: none

comment
  pkg/agent/orchestrator/runner_test.go
Due: none

fix naming
  docs/adr/0019-config-viewer.md
  docs/proposals/named-fallback-lists-design.md
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/defaults.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go

comments
  pkg/agent/orchestrator/runner_test.go
  pkg/config/loader.go
Due: go

fix
  pkg/config/loader.go
Due: go

Docs
  README.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0017-native-tool-fallback-safety.md
  docs/adr/0019-config-viewer.md
  docs/adr/0024-tool-summarization-provider.md
  docs/adr/0030-named-fallback-lists.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/named-fallback-lists-design.md
  docs/proposals/named-fallback-lists-questions.md
Due: none

feat(config): expose named fallback lists in the config viewer (#343)
  README.md
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0017-native-tool-fallback-safety.md
  docs/adr/0019-config-viewer.md
  docs/adr/0024-tool-summarization-provider.md
  docs/adr/0030-named-fallback-lists.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/named-fallback-lists-design.md
  docs/proposals/named-fallback-lists-questions.md
  pkg/agent/orchestrator/runner_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/defaults.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  test/e2e/dashboard_test.go
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go

feat(config): default omitted chat agent and enabled
  pkg/agent/config_resolver_test.go
  pkg/api/handler_chat.go
  pkg/api/handler_chat_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor_integration_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/test_helpers_test.go
Due: go

docs
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
Due: none

feat(config): default omitted chat agent and enabled (#344)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  pkg/agent/config_resolver_test.go
  pkg/api/handler_chat.go
  pkg/api/handler_chat_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/types_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor_integration_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/test_helpers_test.go
Due: go

feat(config): nest compose and executive_summary pairing
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  deploy/config/tarsy.yaml.quickstart
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0004-stage-types.md
  docs/adr/0019-config-viewer.md
  docs/adr/0025-action-report-compose.md
  docs/adr/0030-named-fallback-lists.md
  docs/functional-areas-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/job_pairing.go
  pkg/config/job_pairing_test.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor_integration_test.go
  test/e2e/testdata/configs/action-chain/tarsy.yaml
  test/e2e/testdata/configs/builtin-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/cancellation/tarsy.yaml
  test/e2e/testdata/configs/failure-resilience/tarsy.yaml
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/memory-reflector/tarsy.yaml
  test/e2e/testdata/configs/orchestrator/tarsy.yaml
  test/e2e/testdata/configs/pipeline/tarsy.yaml
  test/e2e/testdata/configs/scoring-defaults/tarsy.yaml
  test/e2e/testdata/configs/scoring/tarsy.yaml
  test/e2e/testdata/configs/skills-dir-layout/tarsy.yaml
  test/e2e/testdata/configs/skills-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/skills/tarsy.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
  test/e2e/testdata/configs/timeout/tarsy.yaml
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/types/system.ts
Due: go

comment
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/job_pairing.go
  pkg/config/job_pairing_test.go
Due: go

feat(config): nest compose and executive_summary pairing (#345)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  deploy/config/tarsy.yaml.quickstart
  docs/adr/0003-llm-provider-fallback.md
  docs/adr/0004-stage-types.md
  docs/adr/0019-config-viewer.md
  docs/adr/0025-action-report-compose.md
  docs/adr/0030-named-fallback-lists.md
  docs/functional-areas-design.md
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/job_pairing.go
  pkg/config/job_pairing_test.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/executor_integration_test.go
  test/e2e/testdata/configs/action-chain/tarsy.yaml
  test/e2e/testdata/configs/builtin-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/cancellation/tarsy.yaml
  test/e2e/testdata/configs/failure-resilience/tarsy.yaml
  test/e2e/testdata/configs/fallback/tarsy.yaml
  test/e2e/testdata/configs/memory-reflector/tarsy.yaml
  test/e2e/testdata/configs/orchestrator/tarsy.yaml
  test/e2e/testdata/configs/pipeline/tarsy.yaml
  test/e2e/testdata/configs/scoring-defaults/tarsy.yaml
  test/e2e/testdata/configs/scoring/tarsy.yaml
  test/e2e/testdata/configs/skills-dir-layout/tarsy.yaml
  test/e2e/testdata/configs/skills-orchestrator/tarsy.yaml
  test/e2e/testdata/configs/skills/tarsy.yaml
  test/e2e/testdata/configs/split-lists/tarsy.yaml
  test/e2e/testdata/configs/timeout/tarsy.yaml
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/types/system.ts
Due: go

fix(queue): read executive summary from the session column
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_test.go
  pkg/queue/investigation_context.go
  pkg/queue/scoring_executor_integration_test.go
  test/e2e/testdata/golden/memory-feedback/trace_interactions/07_FeedbackReflector_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/08_ScoringAgent_llm_scoring_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/09_ScoringAgent_llm_scoring_2.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/10_ScoringAgent_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-session-search-no-match/trace_interactions/05_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory-session-search-no-match/trace_interactions/07_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/memory-session-search/trace_interactions/09_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory-session-search/trace_interactions/12_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/memory/trace_interactions/09_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory/trace_interactions/11_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/35_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/37_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/38_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/41_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/43_ChatAgent_llm_iteration_4.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/skills/trace_interactions/14_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/16_ChatAgent_llm_iteration_2.golden
Due: go

update
  test/e2e/pipeline_test.go
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/pipeline/timeline.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/32_ExecSummaryAgent_llm_executive_summary_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/35_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/37_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/38_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/41_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/43_ChatAgent_llm_iteration_4.golden
Due: none

fix(queue): read executive summary from the session column (#349)
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_test.go
  pkg/queue/investigation_context.go
  pkg/queue/scoring_executor_integration_test.go
  test/e2e/pipeline_test.go
  test/e2e/testdata/golden/memory-feedback/trace_interactions/07_FeedbackReflector_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/08_ScoringAgent_llm_scoring_1.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/09_ScoringAgent_llm_scoring_2.golden
  test/e2e/testdata/golden/memory-feedback/trace_interactions/10_ScoringAgent_llm_memory_extraction_1.golden
  test/e2e/testdata/golden/memory-session-search-no-match/trace_interactions/05_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory-session-search-no-match/trace_interactions/07_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/memory-session-search/trace_interactions/09_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory-session-search/trace_interactions/12_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/memory/trace_interactions/09_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/memory/trace_interactions/11_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/session.golden
  test/e2e/testdata/golden/pipeline/timeline.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/32_ExecSummaryAgent_llm_executive_summary_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/35_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/37_ChatAgent_llm_summarization_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/38_ChatAgent_llm_iteration_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/41_ChatAgent_llm_iteration_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/43_ChatAgent_llm_iteration_4.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/skills/trace_interactions/14_ChatAgent_llm_iteration_1.golden
  test/e2e/testdata/golden/skills/trace_interactions/16_ChatAgent_llm_iteration_2.golden
Due: go

feat(config): add named session label maps catalog
  docs/proposals/session-labels-design.md
  docs/proposals/session-labels-questions.md
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/labels.go
  pkg/agent/prompt/testdata/session_labels_builtin.golden
  pkg/agent/prompt/testdata/session_labels_custom_exclusive.golden
  pkg/agent/prompt/testdata/session_labels_multi.golden
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/chain.go
  pkg/config/config.go
  pkg/config/defaults.go
  pkg/config/job_pairing_test.go
  pkg/config/labels.go
  pkg/config/labels_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  test/e2e/dashboard_test.go
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go

format
  pkg/config/labels_test.go
  pkg/config/validator_test.go
Due: none
