Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto    # Use previous commit as baseline (no hard threshold)
        threshold: 1%   # Allow 1% drop without failing
    patch:
      default:
        target: 80%     # New code should have â‰¥80% coverage

flags:
  go:
    paths:
      - pkg/
    carryforward: true
  python:
    paths:
      - llm-service/llm/
    carryforward: true
  # Uncomment when TypeScript tests are added:
  # typescript:
  #   paths:
  #     - dashboard/
  #   carryforward: true

ignore:
  - ent/**          # Generated ORM code
  - proto/**        # Generated protobuf/gRPC
  - github.com/**   # Generated proto duplicate
  - cmd/**          # Main entrypoint
  - test/**         # Test utilities
  - "**/*_test.go"  # Test files themselves
  - deploy/**
  - docs/**
  - make/**

docs: make AGENTS.md the shared always-on agent contract
  .cursor/skills/karpathy-modified-guidelines/SKILL.md
  .cursor/skills/use-modern-go/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

Update model cost snapshot
  pkg/cost/book_test.go
  pkg/cost/snapshot.json
Due: go

comments
  deploy/config/README.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  llm-service/tests/test_google_native.py
  pkg/config/builtin.go
  pkg/config/builtin_test.go
Due: go

comments
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
Due: python

comments
  pkg/agent/controller/fallback.go
  pkg/agent/controller/fallback_test.go
  test/e2e/fallback_test.go
  web/dashboard/src/components/timeline/ProviderFallbackItem.tsx
  web/dashboard/src/components/trace/ProviderFallbackIndicator.tsx
Due: go

chore: bump LLM service LangChain and GenAI deps (#313)
  llm-service/pyproject.toml
  llm-service/uv.lock
Due: none

feat: add named LLM provider for tool-result summarization
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0019-config-viewer.md
  docs/architecture-overview.md
  docs/proposals/tool-summarization-provider-design.md
  docs/proposals/tool-summarization-provider-questions.md
  ent/schema/timelineevent.go
  pkg/agent/context.go
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/summarize_llm.go
  pkg/agent/summarize_llm_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/defaults.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_helpers.go
  test/e2e/pipeline_test.go
  test/e2e/testdata/golden/pipeline/timeline.golden
  web/dashboard/src/types/system.ts
Due: go

comments
  docs/architecture-overview.md
  docs/proposals/tool-summarization-provider-design.md
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/loader_test.go
  web/dashboard/src/types/system.ts
Due: go

feat: add named LLM provider for tool-result summarization (#314)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0019-config-viewer.md
  docs/architecture-overview.md
  docs/proposals/tool-summarization-provider-design.md
  docs/proposals/tool-summarization-provider-questions.md
  ent/schema/timelineevent.go
  pkg/agent/context.go
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/orchestrator/runner.go
  pkg/agent/summarize_llm.go
  pkg/agent/summarize_llm_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/defaults.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/types.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/queue/executor_helpers.go
  test/e2e/pipeline_test.go
  test/e2e/testdata/golden/pipeline/timeline.golden
  web/dashboard/src/types/system.ts
Due: go

feat: retry tool summarization via local LLM fallback
  deploy/config/README.md
  docs/architecture-overview.md
  docs/proposals/tool-summarization-provider-design.md
  pkg/agent/context.go
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/timeline.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/summarize_llm.go
  pkg/agent/summarize_llm_test.go
  web/dashboard/src/components/shared/CollapsibleItemHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/SummarizationModelCaption.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/test/components/summarizationModelCaption.test.tsx
Due: go

fix
  pkg/agent/context.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/cost/book_test.go
  test/e2e/testdata/golden/memory-session-search/timeline.golden
Due: go

comment
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
Due: go

comment
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/summarize_llm.go
  pkg/agent/summarize_llm_test.go
Due: go

ADR
  docs/adr/0024-tool-summarization-provider.md
  docs/proposals/tool-summarization-provider-design.md
  docs/proposals/tool-summarization-provider-questions.md
Due: none

comment
  docs/adr/0024-tool-summarization-provider.md
Due: none

feat: retry tool summarization via local LLM fallback (#315)
  deploy/config/README.md
  docs/adr/0024-tool-summarization-provider.md
  docs/architecture-overview.md
  docs/proposals/tool-summarization-provider-design.md
  docs/proposals/tool-summarization-provider-questions.md
  pkg/agent/context.go
  pkg/agent/controller/lifecycle_integration_test.go
  pkg/agent/controller/summarize.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/timeline.go
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/agent/summarize_llm.go
  pkg/agent/summarize_llm_test.go
  pkg/cost/book_test.go
  test/e2e/testdata/golden/memory-session-search/timeline.golden
  web/dashboard/src/components/shared/CollapsibleItemHeader.tsx
  web/dashboard/src/components/streaming/StreamingContentRenderer.tsx
  web/dashboard/src/components/timeline/SummarizationModelCaption.tsx
  web/dashboard/src/components/timeline/ToolCallItem.tsx
  web/dashboard/src/components/timeline/ToolSummaryItem.tsx
  web/dashboard/src/test/components/summarizationModelCaption.test.tsx
Due: go

feat: add dormant compose agent plumbing
  deploy/config/tarsy.yaml.example
  deploy/config/tarsy.yaml.quickstart
  docs/adr/0004-stage-types.md
  docs/adr/0005-referenced-stage-id.md
  docs/proposals/action-report-compose-design.md
  docs/proposals/action-report-compose-questions.md
  ent/llminteraction/llminteraction.go
  ent/migrate/schema.go
  ent/schema/llminteraction.go
  ent/schema/stage.go
  ent/stage.go
  ent/stage/stage.go
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/factory.go
  pkg/agent/controller/factory_test.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/controller/single_shot.go
  pkg/agent/controller/single_shot_test.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/compose.go
  pkg/agent/prompt/testdata/compose.golden
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/enums.go
  pkg/config/enums_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  web/dashboard/src/types/system.ts
Due: go

fmt
  pkg/api/system_config_test.go
Due: none

feat: add dormant compose agent plumbing (#316)
  deploy/config/tarsy.yaml.example
  deploy/config/tarsy.yaml.quickstart
  docs/adr/0004-stage-types.md
  docs/adr/0005-referenced-stage-id.md
  docs/proposals/action-report-compose-design.md
  docs/proposals/action-report-compose-questions.md
  ent/llminteraction/llminteraction.go
  ent/migrate/schema.go
  ent/schema/llminteraction.go
  ent/schema/stage.go
  ent/stage.go
  ent/stage/stage.go
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/factory.go
  pkg/agent/controller/factory_test.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/controller/single_shot.go
  pkg/agent/controller/single_shot_test.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/compose.go
  pkg/agent/prompt/testdata/compose.golden
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/config/chain.go
  pkg/config/defaults.go
  pkg/config/enums.go
  pkg/config/enums_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  web/dashboard/src/types/system.ts
Due: go

feat: run compose after successful action stages
  docs/proposals/action-report-compose-design.md
  pkg/agent/context/investigation_formatter.go
  pkg/agent/context/investigation_formatter_test.go
  pkg/events/types.go
  pkg/events/types_test.go
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_test.go
  pkg/queue/executor.go
  pkg/queue/executor_compose.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_integration_test.go
  pkg/queue/executor_test.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
  pkg/queue/testdata/context_filters_stage_types.golden
  test/e2e/action_test.go
  test/e2e/scoring_test.go
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/score.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/scoring/trace_list.golden
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/constants/interactionTypes.ts
  web/dashboard/src/test/utils/composePresentation.test.ts
Due: go

comments
  pkg/queue/executor.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_integration_test.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
Due: go

feat: run compose after successful action stages (#317)
  docs/proposals/action-report-compose-design.md
  pkg/agent/context/investigation_formatter.go
  pkg/agent/context/investigation_formatter_test.go
  pkg/events/types.go
  pkg/events/types_test.go
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_test.go
  pkg/queue/executor.go
  pkg/queue/executor_compose.go
  pkg/queue/executor_helpers.go
  pkg/queue/executor_integration_test.go
  pkg/queue/executor_test.go
  pkg/queue/scoring_executor.go
  pkg/queue/scoring_executor_integration_test.go
  pkg/queue/testdata/context_filters_stage_types.golden
  test/e2e/action_test.go
  test/e2e/scoring_test.go
  test/e2e/testdata/expected_events.go
  test/e2e/testdata/golden/action-chain/session.golden
  test/e2e/testdata/golden/scoring/prompt_turn1.golden
  test/e2e/testdata/golden/scoring/prompt_turn2.golden
  test/e2e/testdata/golden/scoring/score.golden
  test/e2e/testdata/golden/scoring/trace_interactions/01_scoring_llm_scoring_eval.golden
  test/e2e/testdata/golden/scoring/trace_interactions/02_scoring_llm_scoring_tool_report.golden
  test/e2e/testdata/golden/scoring/trace_list.golden
  web/dashboard/src/components/timeline/StageSeparator.tsx
  web/dashboard/src/components/timeline/finalAnalysisPresentation.ts
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/constants/eventTypes.ts
  web/dashboard/src/constants/interactionTypes.ts
  web/dashboard/src/test/utils/composePresentation.test.ts
Due: go

feat: make action agents emit a memo only
  docs/functional-areas-design.md
  docs/proposals/action-report-compose-design.md
  pkg/agent/prompt/action.go
  pkg/agent/prompt/action_test.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/function_calling_action.golden
  test/e2e/action_test.go
  test/e2e/scoring_test.go
Due: go

docs
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0025-action-report-compose.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/action-report-compose-design.md
  docs/proposals/action-report-compose-questions.md
Due: none

docs: align compose trigger with ADR-0025 skip rule
  docs/architecture-overview.md
Due: none

feat: make action agents emit a memo only (#318)
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/adr/0025-action-report-compose.md
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/action-report-compose-design.md
  docs/proposals/action-report-compose-questions.md
  pkg/agent/prompt/action.go
  pkg/agent/prompt/action_test.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/function_calling_action.golden
  test/e2e/action_test.go
  test/e2e/scoring_test.go
Due: go

fix(llm-service): install image deps with hashed pip, not uv
  .github/workflows/ci.yml
  AGENTS.md
  llm-service/Dockerfile
  llm-service/requirements.txt
  make/dev.mk
Due: none

fix(llm-service): install image deps with hashed pip, not uv (#321)
  .github/workflows/ci.yml
  AGENTS.md
  llm-service/Dockerfile
  llm-service/requirements.txt
  make/dev.mk
Due: none

fix(dashboard): remember Usage filters across tab switches
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/utils/filterPersistence.ts
Due: none

fix(dashboard): remember Usage filters across tab switches (#322)
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/types/dashboard.ts
  web/dashboard/src/utils/filterPersistence.ts
Due: none

comments
  docs/proposals/prompt-caching-design.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

feat: price prompt-cache tokens and roll them up on Usage
  deploy/config/README.md
  deploy/config/llm-providers.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/prompt-caching-design.md
  docs/session-usage-cost.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/usage.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_usage.py
  pkg/api/handler_usage_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/book.go
  pkg/cost/book_test.go
  pkg/cost/catalog.go
  pkg/cost/catalog_test.go
  pkg/cost/estimate.go
  pkg/cost/estimate_test.go
  pkg/cost/snapshot.json
  pkg/cost/types.go
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/interaction_service.go
  pkg/services/interaction_service_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
  test/e2e/usage_cost_test.go
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/types/api.ts
Due: go, python

comments
  docs/session-usage-cost.md
  pkg/cost/book.go
  pkg/cost/book_test.go
  pkg/cost/catalog.go
  pkg/cost/catalog_test.go
  pkg/cost/snapshot.json
  pkg/models/session.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
Due: go

feat: price prompt-cache tokens and roll them up on Usage (#324)
  deploy/config/README.md
  deploy/config/llm-providers.yaml.example
  docs/architecture-overview.md
  docs/functional-areas-design.md
  docs/proposals/prompt-caching-design.md
  docs/session-usage-cost.md
  llm-service/llm/providers/google_native.py
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/usage.py
  llm-service/tests/test_google_native.py
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_usage.py
  pkg/api/handler_usage_test.go
  pkg/config/builtin.go
  pkg/config/builtin_test.go
  pkg/cost/book.go
  pkg/cost/book_test.go
  pkg/cost/catalog.go
  pkg/cost/catalog_test.go
  pkg/cost/estimate.go
  pkg/cost/estimate_test.go
  pkg/cost/snapshot.json
  pkg/cost/types.go
  pkg/models/session.go
  pkg/models/session_test.go
  pkg/services/interaction_service.go
  pkg/services/interaction_service_test.go
  pkg/services/session_service.go
  pkg/services/session_service_test.go
  pkg/services/session_service_usage.go
  pkg/services/session_service_usage_test.go
  test/e2e/usage_cost_test.go
  web/dashboard/src/pages/UsagePage.tsx
  web/dashboard/src/test/pages/UsagePage.test.tsx
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/types/api.ts
Due: go, python

feat: enable prompt caching on looping Generate calls
  deploy/config/README.md
  deploy/config/tarsy.yaml.example
  docs/session-usage-cost.md
  llm-service/llm/providers/langchain_provider.py
  llm-service/llm/providers/prompt_cache.py
  llm-service/llm_proto/llm_service_pb2.py
  llm-service/llm_proto/llm_service_pb2.pyi
  llm-service/tests/test_langchain_provider.py
  llm-service/tests/test_prompt_cache.py
  pkg/agent/config_resolver.go
  pkg/agent/config_resolver_test.go
  pkg/agent/context.go
  pkg/agent/controller/iterating.go
  pkg/agent/controller/iterating_test.go
  pkg/agent/controller/scoring_test.go
  pkg/agent/controller/single_shot_test.go
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
  pkg/agent/controller/summarize_test.go
  pkg/agent/controller/test_helpers_test.go
  pkg/agent/llm_client.go
  pkg/agent/llm_grpc.go
  pkg/agent/llm_grpc_test.go
  pkg/api/system_config.go
  pkg/api/system_config_test.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/system.go
  proto/llm_service.pb.go
  proto/llm_service.proto
  web/dashboard/src/components/system/ConfigViewer.tsx
  web/dashboard/src/test/components/ConfigViewer.test.tsx
  web/dashboard/src/types/system.ts
Due: go, python

doc
  docs/proposals/prompt-caching-design.md
Due: none
