Repository codeready-toolchain/tarsy: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

Phase 8.2 New langchain client - desing docs (#57)
  docs/phase8.2-multi-llm-support-design.md
  docs/phase8.2-multi-llm-support-questions.md
Due: none

format
  pkg/agent/controller/streaming.go
  pkg/agent/controller/streaming_test.go
Due: go

test
  pkg/services/session_service_test.go
Due: none

fix
  llm-service/llm/providers/langchain_provider.py
Due: python

fix
  deploy/config/.env.example
  deploy/config/README.md
  deploy/config/llm-providers.yaml.example
  deploy/config/tarsy.yaml.example
  docs/archive/phase8.2-multi-llm-support-design.md
  docs/archive/phase8.2-multi-llm-support-questions.md
  ent/agentexecution.go
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
  pkg/api/handler_system_test.go
  pkg/config/validator_test.go
Due: python

comments
  docs/architecture-context.md
  llm-service/llm/providers/langchain_provider.py
  pkg/agent/context.go
  pkg/agent/controller/function_calling.go
  pkg/agent/prompt/builder.go
  pkg/agent/prompt/builder_integration_test.go
  pkg/agent/prompt/builder_test.go
  pkg/agent/prompt/templates.go
  pkg/agent/prompt/testdata/forced_conclusion.golden
  pkg/agent/prompt/testdata/forced_conclusion_langchain.golden
  pkg/events/types.go
  pkg/services/session_service.go
Due: go, python

Fix streaming leak in go
  llm-service/llm/providers/langchain_provider.py
  pkg/agent/controller/streaming.go
Due: go, python

comments
  llm-service/llm/providers/langchain_provider.py
  llm-service/tests/test_langchain_provider.py
Due: python

comments
  llm-service/llm/providers/langchain_provider.py
Due: python

Phase 7.6 Trace view implementation
  web/dashboard/src/components/trace/InteractionCard.tsx
  web/dashboard/src/components/trace/LLMInteractionDetail.tsx
  web/dashboard/src/components/trace/LLMInteractionPreview.tsx
  web/dashboard/src/components/trace/MCPInteractionDetail.tsx
  web/dashboard/src/components/trace/MCPInteractionPreview.tsx
  web/dashboard/src/components/trace/ParallelExecutionTabs.tsx
  web/dashboard/src/components/trace/StageAccordion.tsx
  web/dashboard/src/components/trace/TraceTimeline.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/pages/TracePage.tsx
Due: none

comments
  docs/phase7-dashboard-plan.md
  web/dashboard/src/components/trace/LLMInteractionDetail.tsx
  web/dashboard/src/components/trace/MCPInteractionDetail.tsx
  web/dashboard/src/components/trace/MCPInteractionPreview.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/constants/interactionTypes.ts
Due: none

comments
  docs/phase7-dashboard-plan.md
  pkg/agent/controller/helpers.go
  pkg/agent/controller/helpers_test.go
  pkg/queue/executor.go
  pkg/queue/executor_test.go
  web/dashboard/src/components/trace/LLMInteractionDetail.tsx
  web/dashboard/src/components/trace/NativeToolsDisplay.tsx
Due: go

tool list details
  pkg/agent/controller/tool_execution.go
  pkg/agent/controller/tool_execution_test.go
  pkg/api/handler_trace_test.go
  pkg/models/interaction.go
  pkg/services/interaction_service.go
  pkg/services/interaction_service_test.go
  test/e2e/testdata/golden/pipeline/trace_interactions/01_DataCollector_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/02_DataCollector_mcp_tool_list_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/10_Remediator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/11_Remediator_mcp_tool_list_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/18_ConfigValidator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/22_MetricsValidator_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/27_ScalingReviewer-1_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/29_ScalingReviewer-2_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/32_ChatAgent_mcp_tool_list_1.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/33_ChatAgent_mcp_tool_list_2.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/38_ChatAgent_mcp_tool_list_3.golden
  test/e2e/testdata/golden/pipeline/trace_interactions/39_ChatAgent_mcp_tool_list_4.golden
  web/dashboard/src/components/trace/MCPInteractionDetail.tsx
  web/dashboard/src/components/trace/NativeToolsDisplay.tsx
  web/dashboard/src/components/trace/traceHelpers.ts
  web/dashboard/src/types/trace.ts
Due: go

Tests for streaming bug fix
  pkg/agent/controller/streaming_test.go
Due: none

comments
  pkg/agent/controller/streaming_test.go
Due: none

Tests for streaming bug fix (#60)
  pkg/agent/controller/streaming_test.go
Due: none

Implementation
  docs/phase7.7-implementation-plan.md
  docs/phase7.7-questions.md
  web/dashboard/index.html
  web/dashboard/src/App.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/layout/SystemWarningBanner.tsx
  web/dashboard/src/components/layout/VersionFooter.tsx
  web/dashboard/src/components/layout/VersionUpdateBanner.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/constants/routes.ts
  web/dashboard/src/contexts/VersionContext.tsx
  web/dashboard/src/hooks/useVersionMonitor.ts
  web/dashboard/src/pages/SystemStatusPage.tsx
  web/dashboard/src/types/system.ts
Due: none

docs
  docs/phase7-dashboard-plan.md
Due: none

comments
  web/dashboard/src/hooks/useVersionMonitor.ts
Due: none

Phase 7.7 implementation (#61)
  docs/phase7-dashboard-plan.md
  docs/phase7.7-implementation-plan.md
  docs/phase7.7-questions.md
  web/dashboard/index.html
  web/dashboard/src/App.tsx
  web/dashboard/src/components/dashboard/DashboardView.tsx
  web/dashboard/src/components/layout/SystemWarningBanner.tsx
  web/dashboard/src/components/layout/VersionFooter.tsx
  web/dashboard/src/components/layout/VersionUpdateBanner.tsx
  web/dashboard/src/components/system/MCPServerStatusView.tsx
  web/dashboard/src/constants/routes.ts
  web/dashboard/src/contexts/VersionContext.tsx
  web/dashboard/src/hooks/useVersionMonitor.ts
  web/dashboard/src/pages/SystemStatusPage.tsx
  web/dashboard/src/types/system.ts
Due: none

Phase 7.8. Dashboard polishing and tests
  docs/archive/phase7-dashboard-design.md
  docs/archive/phase7-dashboard-plan.md
  docs/archive/phase7-dashboard-questions.md
  docs/archive/phase7.7-implementation-plan.md
  docs/archive/phase7.7-questions.md
  docs/archive/phase7.8-implementation-plan.md
  docs/project-plan.md
  pkg/api/dashboard_test.go
  pkg/api/server.go
Due: go

docs
  docs/architecture-context.md
  docs/project-plan.md
Due: none

Tests
  .cursor/commands/create-dashboard-tests.md
  .github/workflows/ci.yml
  make/dev.mk
  web/dashboard/src/test/hooks/useVersionMonitor.test.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/services/auth.test.ts
  web/dashboard/src/test/utils/contentParser.test.ts
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/test/utils/markdownComponents.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/test/utils/timelineParser.test.ts
  web/dashboard/src/test/utils/traceHelpers.test.ts
  web/dashboard/src/test/utils/yamlHighlighter.test.ts
  web/dashboard/tsconfig.app.json
Due: none

comments
  .github/workflows/ci.yml
  docs/project-plan.md
  make/dev.mk
Due: none

c
  docs/project-plan.md
Due: none

Phase 7.8. Dashboard polishing and tests (#62)
  .cursor/commands/create-dashboard-tests.md
  .github/workflows/ci.yml
  docs/architecture-context.md
  docs/archive/phase7-dashboard-design.md
  docs/archive/phase7-dashboard-plan.md
  docs/archive/phase7-dashboard-questions.md
  docs/archive/phase7.7-implementation-plan.md
  docs/archive/phase7.7-questions.md
  docs/archive/phase7.8-implementation-plan.md
  docs/project-plan.md
  make/dev.mk
  pkg/api/dashboard_test.go
  pkg/api/server.go
  web/dashboard/src/test/hooks/useVersionMonitor.test.ts
  web/dashboard/src/test/services/api.test.ts
  web/dashboard/src/test/services/auth.test.ts
  web/dashboard/src/test/utils/contentParser.test.ts
  web/dashboard/src/test/utils/filterPersistence.test.ts
  web/dashboard/src/test/utils/format.test.ts
  web/dashboard/src/test/utils/markdownComponents.test.ts
  web/dashboard/src/test/utils/search.test.ts
  web/dashboard/src/test/utils/timelineParser.test.ts
  web/dashboard/src/test/utils/traceHelpers.test.ts
  web/dashboard/src/test/utils/yamlHighlighter.test.ts
  web/dashboard/tsconfig.app.json
Due: go

Docs
  docs/phase8.1-runbook-system-design.md
  docs/phase8.1-runbook-system-questions.md
Due: none

Docs (#63)
  docs/phase8.1-runbook-system-design.md
  docs/phase8.1-runbook-system-questions.md
Due: none

Phase 8.1 Runbooks implementation
  cmd/tarsy/main.go
  deploy/config/.env.example
  pkg/api/handler_alert.go
  pkg/api/handler_runbook.go
  pkg/api/handler_runbook_test.go
  pkg/api/server.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/system.go
  pkg/config/validator.go
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_integration_test.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/runbook/cache.go
  pkg/runbook/cache_test.go
  pkg/runbook/github.go
  pkg/runbook/github_test.go
  pkg/runbook/service.go
  pkg/runbook/service_test.go
  pkg/runbook/url.go
  pkg/runbook/url_test.go
  test/e2e/harness.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/services/api.ts
Due: go

Tests
  docs/project-plan.md
  test/e2e/helpers.go
  test/e2e/runbook_test.go
Due: none

Test
  pkg/config/validator_test.go
Due: none

lint
  cmd/tarsy/main.go
  docs/architecture-context.md
  docs/archive/phase8.1-runbook-system-design.md
  docs/archive/phase8.1-runbook-system-questions.md
  docs/project-plan.md
  pkg/api/handler_runbook_test.go
  pkg/api/server.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/runbook/cache.go
  pkg/runbook/cache_test.go
  pkg/runbook/github.go
  pkg/runbook/github_test.go
  pkg/runbook/service.go
  pkg/runbook/service_test.go
  test/e2e/harness.go
  test/e2e/runbook_test.go
Due: go

comments
  docs/architecture-context.md
  docs/project-plan.md
  pkg/api/handler_alert.go
  pkg/config/loader.go
  pkg/queue/chat_executor.go
  pkg/queue/executor.go
  pkg/runbook/cache.go
  pkg/runbook/service.go
  pkg/runbook/url.go
  pkg/runbook/url_test.go
  test/e2e/harness.go
  test/e2e/runbook_test.go
Due: go

comments
  pkg/api/handler_runbook_test.go
  pkg/runbook/service.go
  web/dashboard/src/components/session/SessionHeader.tsx
Due: go

Phase 8.1 Runbooks implementation (#64)
  cmd/tarsy/main.go
  deploy/config/.env.example
  docs/architecture-context.md
  docs/archive/phase8.1-runbook-system-design.md
  docs/archive/phase8.1-runbook-system-questions.md
  docs/project-plan.md
  pkg/api/handler_alert.go
  pkg/api/handler_runbook.go
  pkg/api/handler_runbook_test.go
  pkg/api/server.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/loader_test.go
  pkg/config/system.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  pkg/queue/chat_executor.go
  pkg/queue/chat_executor_integration_test.go
  pkg/queue/executor.go
  pkg/queue/executor_integration_test.go
  pkg/runbook/cache.go
  pkg/runbook/cache_test.go
  pkg/runbook/github.go
  pkg/runbook/github_test.go
  pkg/runbook/service.go
  pkg/runbook/service_test.go
  pkg/runbook/url.go
  pkg/runbook/url_test.go
  test/e2e/harness.go
  test/e2e/helpers.go
  test/e2e/runbook_test.go
  web/dashboard/src/components/alert/ManualAlertForm.tsx
  web/dashboard/src/components/session/SessionHeader.tsx
  web/dashboard/src/services/api.ts
Due: go

Fix runbook loading
  pkg/runbook/github_test.go
  pkg/runbook/service.go
  pkg/runbook/service_test.go
Due: go

Path conditions:
  go: any of: pkg/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
  python: any of: llm-service/llm/, but not: ent/**, proto/**, github.com/**, cmd/**, test/**, **/*_test.go, deploy/**, docs/**, make/**
